<div class="container-fluid pt-3">
  <div class="row">
      <div class="col-sm-8">
          <div id = "ptc-header" class="col-sm-12">
            Users
          </div>
      </div>
      <div class="col-sm-4 text-right">
          <!-- <button class="btn btn-outline-dark mr-3" type="button" (click)="exportCSV()">Export CSV</button> -->
          <button [routerLink]="['../../../form']" title="Add New Users" class="btn btn-primary">
            Add User
          </button>
      </div>
  </div>
  <div class="card">
    <div class="card-body contact-details">
      <div class="lds-ellipsis" id = "loader"><div></div><div></div><div></div><div></div></div>
      <table *ngIf="users.data" id="usersTable" class="table table-striped" style="width:100%">
          <thead class="thead-dark">
              <tr>
                  <th>Sr No.</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>User Name</th>
                  <th>Password</th>
                  <th>User Level</th>
                  <th class="text-center">Action</th>                
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let data of users.data; index as i">
                  <td>{{i+1}}</td>
                  <td>{{data.first_name}}</td>
                  <td>{{data.last_name}}</td>
                  <td>{{data.user_name}}</td>
                  <td>{{data.password}}</td>
                  <td>{{data.userLevelId.name}}</td>
                  <!-- <td>{{data.activityDate | date: 'd-M-yyyy, h:mm:ss a'}}</td> -->
                  <!-- <td>{{data.createdAt | date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  <td>{{data.modifiedAt | date: 'd-M-yyyy, h:mm:ss a'}}</td> -->
                  <td class="text-right">
                  <div class="dropdown">
                      <button class="btn btn-default" type="button" [id]="'dropdownMenuButton' + i" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton' + i">
                        <a  class="dropdown-item cursor-hand" (click)="redirectTo(data,'view')">View Details</a>
                        <a  class="dropdown-item cursor-hand" (click)="redirectTo(data, 'edit')">Modify</a>
                        <a  class="dropdown-item cursor-hand" data-toggle="modal" data-backdrop=""  data-target="#myModal"
                          (click)="delete(data._id)">Delete</a>
                      </div>
                  </div>
              </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>
  