<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{pondData ? 'Update' : 'Create'}} Pond Rejuvenation
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="pondForm" (ngSubmit)="onSubmit(pondForm.value)">
                        <div class="row">
                            <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="activityId" class="form-control">
                                            <option value="{{activityId}}">Pond rejuvenation</option>
                                        </select>
                                    </div>
                                    <!-- <span *ngIf="pondForm.controls['activityId'].invalid && (pondForm.controls['activityId'].dirty || pondForm.controls['activityId'].touched)">
                                        <p *ngIf="pondForm.controls['activityId'].errors.required" class="text-danger text-right">
                                            Activity Name is required.
                                        </p>
                                    </span> -->

                                    <div class="form-group">
                                        <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': pondForm.controls['villageId'].touched && pondForm.controls['villageId'].errors}">
                                            <option value="">Select Village</option>
                                            <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                        </select>
                                        <span *ngIf="pondForm.controls['villageId'].invalid && (pondForm.controls['villageId'].dirty || pondForm.controls['villageId'].touched)">
                                                <p *ngIf="pondForm.controls['villageId'].errors.required" class="text-danger text-right">
                                                    Village Name is required.
                                                </p>
                                            </span>
                                    </div>

                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <label class="form-control-label">Pond length before<small>(in Mts.)</small></label>
                                                <input type="text"  formControlName="areaBeforeL" class="form-control" (keyup)="areaBeforeCalculate()" (keypress)="checkInt($event)" appBlockCopyPaste/>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Pond width before<small>(in Mts.)</small></label>
                                                <input type="text"  formControlName="areaBeforeW" class="form-control" (keyup)="areaBeforeCalculate()" (keypress)="checkInt($event)" appBlockCopyPaste/>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Pond depth before<small>(in Mts.)</small></label>
                                                <input type="text"  formControlName="areaBeforeD" class="form-control" (keyup)="areaBeforeCalculate()" (keypress)="checkInt($event)" appBlockCopyPaste/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <label class="form-control-label">Pond length after<small>(in Mts.)</small></label>
                                                <input type="text"  formControlName="areaAfterL" class="form-control" (keyup)="areaAfterCalculate()" (keypress)="checkInt($event)" appBlockCopyPaste/>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Pond width after<small>(in Mts.)</small></label>
                                                <input type="text"  formControlName="areaAfterW" class="form-control" (keyup)="areaAfterCalculate()" (keypress)="checkInt($event)" appBlockCopyPaste/>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Pond depth after<small>(in Mts.)</small></label>
                                                <input type="text"  formControlName="areaAfterD" class="form-control" (keyup)="areaAfterCalculate()" (keypress)="checkInt($event)" appBlockCopyPaste/>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Water storage capacity before  <small>(in Kilo Liters)</small></label>
                                        <input type="text"   formControlName="waterStorageCapacityBefore" class="form-control" [readOnly]="true"/>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Increase in water storage capacity <small>(in Kilo Litres)</small></label>
                                        <input type="text"   formControlName="increaseInWaterStorageCapacity" class="form-control"  [readOnly]="true"/>
                                    </div>
                                    
                            </div>
                            <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Activity Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="activity-date"  formControlName="activityDate" class="form-control" [ngClass]="{'form-control-danger': pondForm.controls['activityDate'].touched && pondForm.controls['activityDate'].errors}" (keydown)="$event.preventDefault()"/>
                                        <span *ngIf="pondForm.controls['activityDate'].invalid && (pondForm.controls['activityDate'].dirty || pondForm.controls['activityDate'].touched)">
                                            <p *ngIf="pondForm.controls['activityDate'].errors.required" class="text-danger text-right">
                                                Activity Date is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Beneficiary Benefitted <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <input type="text"   formControlName="beneficiaryBenefitted" class="form-control" [ngClass]="{'form-control-danger': pondForm.controls['beneficiaryBenefitted'].touched && pondForm.controls['beneficiaryBenefitted'].errors}" (keypress)="check($event)" appBlockCopyPaste />
                                        <span *ngIf="pondForm.controls['beneficiaryBenefitted'].invalid && (pondForm.controls['beneficiaryBenefitted'].dirty || pondForm.controls['beneficiaryBenefitted'].touched)">
                                            <p *ngIf="pondForm.controls['beneficiaryBenefitted'].errors.required" class="text-danger text-right">
                                                Beneficiary Benefitted is required.
                                            </p>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Area Before <small>(in Cubic Metres)</small></label>
                                        <input type="text"   formControlName="areaBefore" class="form-control" [readOnly]="true"/>
                                    </div> 

                                    <div class="form-group">
                                        <label class="form-control-label">Area After <small>(in Cubic Metres)</small></label>
                                        <input type="text"   formControlName="areaAfter" class="form-control" [readOnly]="true"/>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Water storage capacity after <small>(in Kilo Liters)</small></label>
                                        <input type="text"   formControlName="waterStorageCapacityAfter" class="form-control" [readOnly]="true"/>
                                    </div>

                            </div>
                        </div>
                        <div class="form-group">
                                <button class="btn btn-primary" type="submit" [disabled]="!pondForm.valid"> Submit</button>
                                <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>
</div>