<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{soilData ? 'Update' : 'Create'}} Soil Testing
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="soilForm" (ngSubmit)="onSubmit(soilForm.value)">
                        <div class="row">
                            <div class="col-3">
                                    <div class="form-group">
                                        <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="activityId" class="form-control">
                                            <option value="{{activityId}}">Soil Testing</option>
                                        </select>
                                    </div>
                                    <!-- <span *ngIf="soilForm.controls['activityId'].invalid && (soilForm.controls['activityId'].dirty || soilForm.controls['activityId'].touched)">
                                        <p *ngIf="soilForm.controls['activityId'].errors.required" class="text-danger text-right">
                                            Activity Name is required.
                                        </p>
                                    </span> -->

                                    <div class="form-group">
                                        <label class="form-control-label">Ec Value</label>
                                        <select formControlName="ecValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['ecValue'].touched && soilForm.controls['ecValue'].errors}">
                                            <option value="">Select EC Value</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Low">Low</option>
                                        </select>
                                        <span *ngIf="soilForm.controls['ecValue'].invalid && (soilForm.controls['ecValue'].dirty || soilForm.controls['ecValue'].touched)">
                                            <p *ngIf="soilForm.controls['ecValue'].errors.required" class="text-danger text-right">
                                                Ec Value is required.
                                            </p>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Zn Value</label>
                                        <select formControlName="znValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['znValue'].touched && soilForm.controls['znValue'].errors}">
                                            <option value="">Select Zn Value</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Low">Low</option>
                                        </select>
                                        <span *ngIf="soilForm.controls['znValue'].invalid && (soilForm.controls['znValue'].dirty || soilForm.controls['znValue'].touched)">
                                            <p *ngIf="soilForm.controls['znValue'].errors.required" class="text-danger text-right">
                                                Zn Value is required.
                                            </p>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">B Value</label>
                                        <select formControlName="bValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['bValue'].touched && soilForm.controls['bValue'].errors}">
                                            <option value="">Select B Value</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Low">Low</option>
                                        </select>
                                        <span *ngIf="soilForm.controls['bValue'].invalid && (soilForm.controls['bValue'].dirty || soilForm.controls['bValue'].touched)">
                                            <p *ngIf="soilForm.controls['bValue'].errors.required" class="text-danger text-right">
                                                B Value is required.
                                            </p>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Soil Type</label>
                                        <select  formControlName="soilType" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['soilType'].touched && soilForm.controls['soilType'].errors}">
                                            <option value="">Select Soil Type</option>
                                            <option value="Alkaline">Alkaline</option>
                                            <option value="Saline">Saline</option>
                                            <option value="Alkaline-Saline">Alkaline-Saline</option>
                                        </select>
                                        <span *ngIf="soilForm.controls['soilType'].invalid && (soilForm.controls['soilType'].dirty || soilForm.controls['soilType'].touched)">
                                            <p *ngIf="soilForm.controls['soilType'].errors.required" class="text-danger text-right">
                                                Soil Type is required.
                                            </p>
                                        </span>
                                    </div>
                            </div>
                            <div class="col-3">
                                    <div class="form-group">
                                        <label class="form-control-label">Activity Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="activity-date"  formControlName="activityDate" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['activityDate'].touched && soilForm.controls['activityDate'].errors}" (keydown)="$event.preventDefault()" />
                                        <span *ngIf="soilForm.controls['activityDate'].invalid && (soilForm.controls['activityDate'].dirty || soilForm.controls['activityDate'].touched)">
                                            <p *ngIf="soilForm.controls['activityDate'].errors.required" class="text-danger text-right">
                                                Activity Date is required.
                                            </p>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">N Value</label>
                                        <select formControlName="nValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['nValue'].touched && soilForm.controls['nValue'].errors}">
                                            <option value="">Select N Value</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Low">Low</option>
                                        </select>
                                        <span *ngIf="soilForm.controls['nValue'].invalid && (soilForm.controls['nValue'].dirty || soilForm.controls['nValue'].touched)">
                                            <p *ngIf="soilForm.controls['nValue'].errors.required" class="text-danger text-right">
                                                N Value is required.
                                            </p>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Fe Value</label>
                                        <select formControlName="feValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['feValue'].touched && soilForm.controls['feValue'].errors}">
                                            <option value="">Select Fe Value</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Low">Low</option>
                                        </select>
                                        <span *ngIf="soilForm.controls['feValue'].invalid && (soilForm.controls['feValue'].dirty || soilForm.controls['feValue'].touched)">
                                            <p *ngIf="soilForm.controls['feValue'].errors.required" class="text-danger text-right">
                                                Fe Value is required.
                                            </p>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Ca Value</label>
                                        <select formControlName="caValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['caValue'].touched && soilForm.controls['caValue'].errors}">
                                            <option value="">Select Ca Value</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Low">Low</option>
                                        </select>
                                        <span *ngIf="soilForm.controls['caValue'].invalid && (soilForm.controls['caValue'].dirty || soilForm.controls['caValue'].touched)">
                                            <p *ngIf="soilForm.controls['caValue'].errors.required" class="text-danger text-right">
                                                Ca Value is required.
                                            </p>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Date Of Sample Collection <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="collection-date"  formControlName="dateSampleCollection" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['dateSampleCollection'].touched && soilForm.controls['dateSampleCollection'].errors}" (keydown)="$event.preventDefault()"/>
                                        <span *ngIf="soilForm.controls['dateSampleCollection'].invalid && (soilForm.controls['dateSampleCollection'].dirty || soilForm.controls['dateSampleCollection'].touched)">
                                            <p *ngIf="soilForm.controls['dateSampleCollection'].errors.required" class="text-danger text-right">
                                                Date Of Sample Collection is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['villageId'].touched && soilForm.controls['villageId'].errors}" (change)="getBeneficiary()">
                                        <option value="">Select Village</option>
                                        <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                    </select>
                                    <span *ngIf="soilForm.controls['villageId'].invalid && (soilForm.controls['villageId'].dirty || soilForm.controls['villageId'].touched)">
                                        <p *ngIf="soilForm.controls['villageId'].errors.required" class="text-danger text-right">
                                            Village Name is required.
                                        </p>
                                    </span>
                                </div>
                
                                <div class="form-group">
                                    <label class="form-control-label">P Value</label>
                                    <select formControlName="pValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['pValue'].touched && soilForm.controls['pValue'].errors}">
                                        <option value="">Select P Value</option>
                                        <option value="High">High</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <span *ngIf="soilForm.controls['pValue'].invalid && (soilForm.controls['pValue'].dirty || soilForm.controls['pValue'].touched)">
                                        <p *ngIf="soilForm.controls['pValue'].errors.required" class="text-danger text-right">
                                            P Value is required.
                                        </p>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">S Value</label>
                                    <select formControlName="sValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['sValue'].touched && soilForm.controls['sValue'].errors}">
                                        <option value="">Select S Value</option>
                                        <option value="High">High</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <span *ngIf="soilForm.controls['sValue'].invalid && (soilForm.controls['sValue'].dirty || soilForm.controls['sValue'].touched)">
                                        <p *ngIf="soilForm.controls['sValue'].errors.required" class="text-danger text-right">
                                            S Value is required.
                                        </p>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Mn Value</label>
                                    <select formControlName="mnValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['mnValue'].touched && soilForm.controls['mnValue'].errors}">
                                        <option value="">Select Mg Value</option>
                                        <option value="High">High</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <span *ngIf="soilForm.controls['mnValue'].invalid && (soilForm.controls['mnValue'].dirty || soilForm.controls['mnValue'].touched)">
                                        <p *ngIf="soilForm.controls['mnValue'].errors.required" class="text-danger text-right">
                                            Mg Value is required.
                                        </p>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Date Of Sample Tested</label>
                                    <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="test-date"  formControlName="dateSampleTested" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['dateSampleTested'].touched && soilForm.controls['dateSampleTested'].errors}" (keydown)="$event.preventDefault()" [readonly]="!soilForm.controls['dateSampleCollection'].value || status == 'disable'"/>
                                    <span *ngIf="soilForm.controls['dateSampleTested'].invalid && (soilForm.controls['dateSampleTested'].dirty || soilForm.controls['dateSampleTested'].touched)">
                                        <p *ngIf="soilForm.controls['dateSampleTested'].errors.required" class="text-danger text-right">
                                            Date Of Sample Tested is required.
                                        </p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="form-control-label">Farmer's Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i> &nbsp;<small>(<a style="color: blue" class="pointerView redirectLink" (click)="redirectToBeneficiary(this.soilForm.controls['villageId'].value)"> Click Here </a> to add Beneficiary)</small></label>
                                    <!-- <select formControlName="beneficiaryId" class="form-control" [ngClass]="{'form-control-danger': ((soilForm.controls['beneficiaryId'].touched && soilForm.controls['beneficiaryId'].errors) || soilForm.controls['beneficiaryId'].value == '') && soilForm.controls['villageId'].touched }">
                                        <option value="">Select Farmer</option>
                                        <option *ngFor="let beneficiary of beneficiaries.data"  [value]="beneficiary._id">{{beneficiary.code}} - {{beneficiary.name}} - {{beneficiary.fatherName}}</option>
                                    </select> -->
                                    <!-- [ngClass]="{'form-control-danger': ((soilForm.controls['beneficiaryId'].touched && soilForm.controls['beneficiaryId'].errors) || soilForm.controls['beneficiaryId'].value == '') && soilForm.controls['villageId'].touched }" -->
                                    <angular2-multiselect 
                                            *ngIf="flag"
                                            [data]="dropdownList" 
                                            [settings]="dropdownSettings" 
                                            formControlName="beneficiaryId">
                                    </angular2-multiselect>
                                    <span *ngIf="soilForm.controls['beneficiaryId'].invalid && soilForm.controls['villageId'].touched ">
                                        <p *ngIf="soilForm.controls['beneficiaryId'].errors?.required " class="text-danger text-right">
                                            Beneficiary Name is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">K Value</label>
                                    <select formControlName="kValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['kValue'].touched && soilForm.controls['kValue'].errors}">
                                        <option value="">Select K Value</option>
                                        <option value="High">High</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <span *ngIf="soilForm.controls['kValue'].invalid && (soilForm.controls['kValue'].dirty || soilForm.controls['kValue'].touched)">
                                        <p *ngIf="soilForm.controls['kValue'].errors.required" class="text-danger text-right">
                                            K Value is required.
                                        </p>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Organic Carbon Value</label>
                                    <select formControlName="orgcValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['orgcValue'].touched && soilForm.controls['orgcValue'].errors}">
                                        <option value="">Select Organic Carbon Value</option>
                                        <option value="High">High</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <span *ngIf="soilForm.controls['orgcValue'].invalid && (soilForm.controls['orgcValue'].dirty || soilForm.controls['orgcValue'].touched)">
                                        <p *ngIf="soilForm.controls['orgcValue'].errors.required" class="text-danger text-right">
                                            Organic Carbon Value is required.
                                        </p>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">PH Value <small> High (Above 8), Normal (7 - 8), Low (Below 7)</small></label>
                                    <select formControlName="phValue" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['phValue'].touched && soilForm.controls['phValue'].errors}">
                                        <option value="">Select PH Value</option>
                                        <option value="High">High</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <span *ngIf="soilForm.controls['phValue'].invalid && (soilForm.controls['phValue'].dirty || soilForm.controls['phValue'].touched)">
                                        <p *ngIf="soilForm.controls['phValue'].errors.required" class="text-danger text-right">
                                            PH Value is required.
                                        </p>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Farmer aware of soil nutrient requirements ?</label>
                                    <select formControlName="farmerAware" class="form-control" [ngClass]="{'form-control-danger': soilForm.controls['farmerAware'].touched && soilForm.controls['farmerAware'].errors}">
                                        <option value="">Select Respone</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                    <span *ngIf="soilForm.controls['farmerAware'].invalid && (soilForm.controls['farmerAware'].dirty || soilForm.controls['farmerAware'].touched)">
                                        <p *ngIf="soilForm.controls['farmerAware'].errors.required" class="text-danger text-right">
                                            Farmer aware  is required.
                                        </p>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!soilForm.valid" > Submit </button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>