<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-sm-8">
        <div id = "ptc-header" class="col-sm-12">
          Soil Testing
        </div>
    </div>
    <div class="col-sm-4 text-right">
      <button class="btn btn-outline-dark mr-3" type="button" (click)="exportCSV()">Export CSV</button>
      <button [routerLink]="['../../../form']"  title="Add New Soil Testing" class="btn btn-primary">
        CREATE
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body contact-details">
      <div class="lds-ellipsis" id = "loader"><div></div><div></div><div></div><div></div></div>
      <table id="soilTable"  *ngIf="tableHideShowStatus" class="table table-striped" style="width:100%">
          <thead class="thead-dark">
              <tr>
                  <th>Sr No.</th>
                  <th>Activity Name</th>
                  <th>Beneficiary Name</th>
                  <th>Village Name</th>
                  <th>Activity Date</th>
                  <th>Soil Type</th>
                  <th>Ec Value</th>
                  <th>P Value</th>
                  <th>K Value</th>
                  <th>Zn Value</th>
                  <th>Fe Value</th>
                  <th>S Value</th>
                  <th>Organic Carbon Value</th>
                  <th>B Value</th>
                  <th>Ca Value</th>
                  <th>Mn Value</th>
                  <th>pH Value</th>
                  <th>Farmer aware of soil nutrient requirements ?</th>
                  <th>Date Of Sample Collection</th>
                  <th>Date Of Sample Tested</th>
                  <th>Created At</th>
                  <th>Modified At</th>
                  <th class="text-center">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let data of soil.data; index as i">
                  <td>{{ i + 1}}</td>
                  <td>{{data.activityData.name}}</td>
                  <td>{{data.beneficiaryData.name}}</td>
                  <td>{{data.villageData.name}}</td>
                  <td>{{data.activityDate |  date: 'd-M-yyyy'}}</td>
                  <td>{{data.soilType}}</td>
                  <td>{{data.ecValue}}</td>
                  <td>{{data.pValue}}</td>
                  <td>{{data.kValue}}</td>
                  <td>{{data.znValue}}</td>
                  <td>{{data.feValue}}</td>
                  <td>{{data.sValue}}</td>
                  <td>{{data.orgcValue}}</td>
                  <td>{{data.bValue}}</td>
                  <td>{{data.caValue}}</td>
                  <td>{{data.mnValue}}</td>
                  <td>{{data.phValue}}</td>
                  <td>{{data.farmerAware}}</td>
                  <td>{{data.dateSampleCollection |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  <td>{{data.dateSampleTested |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  <td>{{data.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  <td>{{data.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  <td class="text-right">
                  <div class="dropdown">
                      <button class="btn btn-default" type="button" [id]="'dropdownMenuButton' + i" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton' + i">
                        <a  class="dropdown-item cursor-hand" (click)="redirectTo(data,'view')">View Details</a>
                        <a  class="dropdown-item cursor-hand" (click)="redirectTo(data, 'edit')">Modify</a>
                        <a  class="dropdown-item cursor-hand" data-toggle="modal" data-backdrop=""  data-target="#myModal"
                          (click)="delete(data._id)">Delete</a>
                      </div>
                  </div>
              </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>