<div id="pt-main" class="pt-perspective">
  <div class="row">
      <div class="col-sm-12">
          <div  id = "ptc-header" class="col-sm-12">
              <a title="Go Back" [routerLink]="['../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
              Beneficiary
          </div>
      </div>
  </div>
  
  <div class="container">
      <div class="btn-group mb-2" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo(beneficiaryData, 'edit')"><i class="far fa-edit"></i> Update</button>
          <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(beneficiaryData._id)"><i class="far fa-trash-alt"></i> Delete</button>
      </div>
      <div class="row">
          <div class="col">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Id</th>
                    <td class="text-left">{{beneficiaryData?._id}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Latitude</th>
                    <td class="text-left">{{beneficiaryData?.location.lat}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Longitude</th>
                    <td class="text-left">{{beneficiaryData?.location.lng}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Name</th>
                    <td class="text-left">{{beneficiaryData?.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Beneficiary Code</th>
                    <td class="text-left">{{beneficiaryData?.code}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Photo</th>
                    <td class="text-left"><a *ngIf="beneficiaryData?.photo" data-toggle="modal" data-backdrop=""  data-target="#image-modal" (click)="url = beneficiaryData?.photo" style="cursor: pointer">
                      <img src="{{beneficiaryData?.photo}}" alt="photo" style="width:50px;height:50px">
                    </a></td>
                  </tr>
                  <tr>
                    <th scope="row">Father/ Husband Name</th>
                    <td class="text-left">{{beneficiaryData?.fatherName}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mobile</th>
                    <td class="text-left">{{beneficiaryData?.mobile}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Date Of Birth</th>
                    <td class="text-left">{{beneficiaryData?.dob}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Village Name</th>
                    <td class="text-left">{{beneficiaryData?.villageId.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Village Code</th>
                    <td class="text-left">{{beneficiaryData?.villageId.code}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Village Type</th>
                    <td class="text-left">{{beneficiaryData?.villageId.type}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Gender</th>
                    <td class="text-left">{{beneficiaryData?.gender}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Social Category</th>
                    <td class="text-left">{{beneficiaryData?.socialCategory}}</td>
                  </tr>
                  <tr>
                    <th scope="row">BPL Family</th>
                    <td class="text-left">{{beneficiaryData?.bplFamily}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Created At</th>
                    <td class="text-left">{{beneficiaryData?.createdAt}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Modified At</th>
                    <td class="text-left">{{beneficiaryData?.modifiedAt}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>


<!-- Modal -->
<div class="modal fade" id="image-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Image</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <img src="{{url}}" alt="photo" style="width: 100%; height: 400px;">
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>