<div class="container-fluid pt-3">        
  <div class="row">
    <div class="col-sm-12">
        <div  id = "ptc-header" class="col-sm-12">
            <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
            {{machineData ? 'Update' : 'Create'}} Machinery Code Mappings
        </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <form [formGroup]="codeMappingForm" (ngSubmit)="onSubmit(codeMappingForm.value)">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-control-label">Machinery Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="machineryId" class="form-control" [ngClass]="{'form-control-danger': codeMappingForm.controls['machineryId'].touched && codeMappingForm.controls['machineryId'].errors}">
                                  <option value="">Select Machinery</option>
                                  <option *ngFor="let machine of codeMachine.data"  [value]="machine._id">{{machine.name}}</option>
                                </select>
                                <span *ngIf="codeMappingForm.controls['machineryId'].invalid && (codeMappingForm.controls['machineryId'].dirty || codeMappingForm.controls['machineryId'].touched)">
                                      <p *ngIf="codeMappingForm.controls['machineryId'].errors.required" class="text-danger text-right">
                                        Machinery Name is required.
                                      </p>
                                  </span>
                            </div>
                            
                        </div>
                    </div>
                      <div class="form-group">
                          <button class="btn btn-primary" type="submit" [disabled]="!codeMappingForm.valid"> Submit</button>
                          <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
    
  </div>
</div>