<div id="pt-main" class="pt-perspective">
  <div class="row">
      <div class="col-sm-12">
          <div  id = "ptc-header" class="col-sm-12">
              <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
              Solar Spray Machine
          </div>
      </div>
  </div>
  
  <div class="container">
      <div class="btn-group mb-2" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo(solarData, 'edit')"><i class="far fa-edit"></i> Update</button>
          <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(solarData._id)"><i class="far fa-trash-alt"></i> Delete</button>
      </div>
      <div class="row">
          <div class="col">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Id</th>
                    <td class="text-left">{{solarData?._id}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Name</th>
                    <td class="text-left">{{solarData?.activityData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Machinery Owner</th>
                    <td class="text-left">{{solarData?.machineryOwnerBeneficiaryData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Beneficiary Name</th>
                    <td class="text-left">{{solarData?.beneficiaryData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Crop Name</th>
                    <td class="text-left">{{solarData?.cropData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Date</th>
                    <td class="text-left">{{solarData?.activityDate |  date: 'd-M-yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Area (In Acres)</th>
                    <td class="text-left">{{solarData?.area}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time Taken Using Manual Operating Machine (In Hours)</th>
                    <td class="text-left">{{solarData?.timeTakenUsingManualOperatedMachine}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time taken using solar spray machine (In Hours)</th>
                    <td class="text-left">{{solarData?.timeTakenUsingSolarSprayMachine}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time Saved (In Hours)</th>
                    <td class="text-left">{{solarData?.timeSaved}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Created At</th>
                    <td class="text-left">{{solarData?.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Modified At</th>
                    <td class="text-left">{{solarData?.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>


