<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{compostData ? 'Update' : 'Create'}} Composting
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="compositForm" (ngSubmit)="onSubmit(compositForm.value)">
                        <div class="row">
                            <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="activityId" class="form-control">
                                            <option value="{{activityId}}">Composting</option>
                                        </select>
                                        <span *ngIf="compositForm.controls['activityId'].invalid && (compositForm.controls['activityId'].dirty || compositForm.controls['activityId'].touched)">
                                            <p *ngIf="compositForm.controls['activityId'].errors.required" class="text-danger text-right">
                                                Activity Name is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': compositForm.controls['villageId'].touched && compositForm.controls['villageId'].errors}" (change)="getBeneficiary()">
                                            <option value="">Select Village</option>
                                            <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                        </select>
                                        <span *ngIf="compositForm.controls['villageId'].invalid && (compositForm.controls['villageId'].dirty || compositForm.controls['villageId'].touched)">
                                            <p *ngIf="compositForm.controls['villageId'].errors.required" class="text-danger text-right">
                                                Village Name is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Quantity Produced (In Quintal)</label>
                                        <input type="text"  formControlName="quantity" class="form-control" [ngClass]="{'form-control-danger': compositForm.controls['quantity'].touched && compositForm.controls['quantity'].errors}" (keypress)="check($event)" appBlockCopyPaste/>
                                        <span *ngIf="compositForm.controls['quantity'].invalid && (compositForm.controls['quantity'].dirty || compositForm.controls['quantity'].touched)">
                                            <p *ngIf="compositForm.controls['quantity'].errors.required" class="text-danger text-right">
                                                Quantity Produced is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                            </div>
                            <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Activity Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="activity-date"  formControlName="activityDate" class="form-control" [ngClass]="{'form-control-danger': compositForm.controls['activityDate'].touched && compositForm.controls['activityDate'].errors}" (keydown)="$event.preventDefault()"/>
                                        <span *ngIf="compositForm.controls['activityDate'].invalid && (compositForm.controls['activityDate'].dirty || compositForm.controls['activityDate'].touched)">
                                            <p *ngIf="compositForm.controls['activityDate'].errors.required" class="text-danger text-right">
                                                Date is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Beneficiary Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i> &nbsp;<small>(If Beneficiary is not for this village <a style="color: blue" class="pointerView redirectLink" (click)="redirectToBeneficiary(this.compositForm.controls['villageId'].value)"> Click Here </a> to add Beneficiary)</small></label>
                                        <!-- <select formControlName="beneficiaryId" class="form-control" [ngClass]="{'form-control-danger': ((compositForm.controls['beneficiaryId'].touched && compositForm.controls['beneficiaryId'].errors) || compositForm.controls['beneficiaryId'].value == '') && compositForm.controls['villageId'].touched }">
                                            <option value="">Select Beneficiary</option>
                                            <option *ngFor="let beneficiary of beneficiaries.data"  [value]="beneficiary._id">{{beneficiary.code}} - {{beneficiary.name}} - {{beneficiary.fatherName}}</option>
                                        </select> -->
                                        <angular2-multiselect 
                                            *ngIf="flag"
                                            [data]="dropdownList" 
                                            [settings]="dropdownSettings" 
                                            formControlName="beneficiaryId">
                                        </angular2-multiselect>
                                        <span *ngIf="compositForm.controls['beneficiaryId'].invalid && compositForm.controls['villageId'].touched ">
                                            <p *ngIf="compositForm.controls['beneficiaryId'].errors?.required " class="text-danger text-right">
                                                Beneficiary Name is required.
                                            </p>
                                        </span>
                                    </div>
    
                                    <!-- <div class="form-group">
                                        <label class="form-control-label">Farmer using compost in field <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="farmerUsingCompostInField" class="form-control" [ngClass]="{'form-control-danger': compositForm.controls['farmerUsingCompostInField'].touched && compositForm.controls['farmerUsingCompostInField'].errors}">
                                            <option value="">Select Option</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span *ngIf="compositForm.controls['farmerUsingCompostInField'].invalid && (compositForm.controls['farmerUsingCompostInField'].dirty || compositForm.controls['farmerUsingCompostInField'].touched)">
                                            <p *ngIf="compositForm.controls['farmerUsingCompostInField'].errors.required" class="text-danger text-right">
                                                Farmer using compost in field is required.
                                            </p>
                                        </span>
                                    </div> -->
                                    
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!compositForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>