<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{machineryData ? 'Update' : 'Create'}} Machinery
            </div>
        </div>
      </div>
      
      <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="machineryForm" (ngSubmit)="onSubmit(machineryForm.value)">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="activityId" class="form-control" [ngClass]="{'form-control-danger': machineryForm.controls['activityId'].touched && machineryForm.controls['activityId'].errors}">
                                        <option value="">Select Activity</option>
                                        <option *ngFor="let activity of activities.data"  [value]="activity._id">{{activity.name}}</option>
                                    </select>
                                    <span *ngIf="machineryForm.controls['activityId'].invalid && (machineryForm.controls['activityId'].dirty || machineryForm.controls['activityId'].touched)">
                                        <p *ngIf="machineryForm.controls['activityId'].errors.required" class="text-danger text-right">
                                            Activity Name is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Machinery Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{'form-control-danger': machineryForm.controls['name'].touched && machineryForm.controls['name'].errors}" />
                                    <span *ngIf="machineryForm.controls['name'].invalid && (machineryForm.controls['name'].dirty || machineryForm.controls['name'].touched)">
                                        <p *ngIf="machineryForm.controls['name'].errors.required" class="text-danger text-right">
                                                Machinery Name is required.
                                        </p>
                                        <p *ngIf="machineryForm.controls['name'].errors.whitespace && !machineryForm.controls['name'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Machinery Code <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="code" class="form-control" [ngClass]="{'form-control-danger': machineryForm.controls['code'].touched && machineryForm.controls['code'].errors}" />
                                    <span *ngIf="machineryForm.controls['code'].invalid && (machineryForm.controls['code'].dirty || machineryForm.controls['code'].touched)">
                                    <p *ngIf="machineryForm.controls['code'].errors.required" class="text-danger text-right">
                                            Machinery Code is required.
                                    </p>
                                    <p *ngIf="machineryForm.controls['code'].errors.whitespace && !machineryForm.controls['code'].errors.required" class="text-danger text-right">
                                        Blank spaces not allowed.
                                    </p>
                                </span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!machineryForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
      </div>
</div>