<div class="container-fluid pt-3">
  <div class="row">
      <div class="col-sm-8">
          <div id = "ptc-header" class="col-sm-12">
            Pond Rejuvenation
          </div>
      </div>
      <div class="col-sm-4 text-right">
            <button class="btn btn-outline-dark mr-3" type="button" (click)="exportCSV()">Export CSV</button>
            <button [routerLink] = "['../../../form']" title="Add New Pond Rejuvenation" class="btn btn-primary">
              CREATE
            </button>
      </div>
  </div>
  <div class="card">
    <div class="card-body contact-details">
      <div class="lds-ellipsis" id = "loader"><div></div><div></div><div></div><div></div></div>
      <table id="pondTable"  *ngIf="tableHideShowStatus" class="table table-striped" style="width:100%">
          <thead class="thead-dark">
              <tr>
                  <th>Sr No.</th>
                  <th>Activity Name</th>
                  <th>Activity Date</th>
                  <th>Village Name</th>
                  <th>Beneficiary Benefitted</th>
                  <th>Area Before (In Cubic Metres)</th>
                  <th>Pond Length Before (In Meters)</th>
                  <th>Pond Width Before (In Meters)</th>
                  <th>Pond Depth Before (In Meters)</th>
                  <th>Area After (In Cubic Metres)</th>
                  <th>Pond Length After (In Meters)</th>
                  <th>Pond Width After (In Meters)</th>
                  <th>Pond Depth After (In Meters)</th>
                  <th>Water storage capacity before (In Kilo Liters)</th>
                  <th>Water storage capacity after (In Kilo Liters)</th>
                  <th>Increase in water storage capacity (In Kilo Liters)</th>
                  <th>Created At</th>
                  <th>Modified At</th>
                  <th class="text-center">Action</th>                
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let data of pond.data; index as i">
                  <td>{{i+1}}</td>
                  <th>{{data.activityData.name}}</th>
                  <td>{{data.activityDate |  date: 'd-M-yyyy'}}</td>
                  <th>{{data.villageData.name}}</th>
                  <td>{{data.beneficiaryBenefitted}}</td>
                  <td>{{data.areaBefore}}</td>
                  <td>{{data.areaBeforeL}}</td>
                  <td>{{data.areaBeforeW}}</td>
                  <td>{{data.areaBeforeD}}</td>
                  <td>{{data.areaAfter}}</td>
                  <td>{{data.areaAfterL}}</td>
                  <td>{{data.areaAfterW}}</td>
                  <td>{{data.areaAfterD}}</td>
                  <td>{{data.waterStorageCapacityBefore}}</td>
                  <td>{{data.waterStorageCapacityAfter}}</td>
                  <td>{{data.increaseInWaterStorageCapacity}}</td>
                  <td>{{data.createdAt | date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  <td>{{data.modifiedAt | date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  <td class="text-right">
                  <div class="dropdown">
                      <button class="btn btn-default" type="button" [id]="'dropdownMenuButton' + i" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton' + i">
                        <a  class="dropdown-item cursor-hand" (click)="redirectTo(data,'view')">View Details</a>
                        <a  class="dropdown-item cursor-hand" (click)="redirectTo(data, 'edit')">Modify</a>
                        <a  class="dropdown-item cursor-hand" data-toggle="modal" data-backdrop=""  data-target="#myModal"
                          (click)="delete(data._id)">Delete</a>
                      </div>
                  </div>
              </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>