<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{varietyData ? 'Update' : 'Create'}} Variety
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="varietyForm" (ngSubmit)="onSubmit(varietyForm.value)">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-label">Crop Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="cropId" class="form-control" [ngClass]="{'form-control-danger': varietyForm.controls['cropId'].touched && varietyForm.controls['cropId'].errors}">
                                        <option value="">Select Crop</option>
                                        <option *ngFor="let crop of crops.data"  [value]="crop._id">{{crop.name}}</option>
                                    </select>
                                    <span *ngIf="varietyForm.controls['cropId'].invalid && (varietyForm.controls['cropId'].dirty || varietyForm.controls['cropId'].touched)">
                                        <p *ngIf="varietyForm.controls['cropId'].errors.required" class="text-danger text-right">
                                            Crop Name is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Variety <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{'form-control-danger': varietyForm.controls['name'].touched && varietyForm.controls['name'].errors}" />
                                    <span *ngIf="varietyForm.controls['name'].invalid && (varietyForm.controls['name'].dirty || varietyForm.controls['name'].touched)">
                                        <p *ngIf="varietyForm.controls['name'].errors.required" class="text-danger text-right">
                                            Variety is required.
                                        </p>
                                        <p *ngIf="varietyForm.controls['name'].errors.whitespace && !varietyForm.controls['name'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>                        
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!varietyForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>