@import '../../../../colors';

.swatch-purple{
    background: lighten($purple, 25%);
    color: #000;
}
.swatch-pink{
    background: lighten($pink, 25%);
    color: #000;
}
.swatch-yellow{
    background: lighten($yellow, 25%);
    color: #000;
}
.swatch-blue{
    background: lighten($blue, 25%);
    color: #000;
}
.swatch-orange{
    background: lighten($orange, 25%);
    color: #000;
}
.swatch-green{
    background: lighten($green, 25%);
    color: #000;
}
.db-img{
    width: 63%;
    margin-left: 18%;
}

.form-group{
    height: auto !important;
    margin-bottom: auto !important;
}
