<div class="container-fluid pt-3">
  <h1 class="mb-3">
      <a class="btn btn-secondary btn-mini" [routerLink]="['../../../dashboard/home']">
          <i class="icofont icofont-arrow-left"></i>
      </a>
      Graph Dashboard
  </h1>

  <div class="card p-2">
    <form #filterForm="ngForm" (ngSubmit)="filterData(filterForm.value)">
      <div class="row">
          <div class="col">
            <div class="form-group">
                <select class="form-control" name="year" id="year-drop" [(ngModel)]="year">
                  <option value="">Select Year</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                <select class="form-control" name="month" id="month-drop" [(ngModel)]="month">
                    <option value="">Select Month</option>
                    <option *ngFor="let month of monthList" value="{{month.value}}">{{month.name}}</option>
                </select>
            </div>
          </div> 
          <div class="col">
            <div class="form-group">
              <select class="form-control" name="village" id="village-drop" [(ngModel)]="villageId">
                <option value="">Select Village</option>
                <option *ngFor="let village of villages" value="{{village._id}}">{{village.name}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
        </div>
      </form>
  </div>

  <div class="row mt-3">
    <div class="col-sm-3">
      <div id="soil-count" class="swatch-purple rounded p-3 mb-3 card-loader">
        <h3>{{soilCard}}</h3>
        <div>No. of farmers who received soil health Card</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div id="compost" class="swatch-pink rounded p-3 mb-3 card-loader">
        <h3>{{compostCard}} <small>(Quintal)</small></h3>
        <div>Amount of Compost Produced	</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div id="horti" class="swatch-yellow rounded p-3 mb-3 card-loader">
        <h3>{{horticultureCard}} <small>(Acres)</small></h3>
        <div>Area brought under horticulture</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div id="solar" class="swatch-blue rounded p-3 mb-3 card-loader">
        <h3>{{solarCard}}</h3>
        <div>No. of solar pumps provided</div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
      <div class="col-sm-12">
          <nav class="">
              <div class="nav nav-tabs " id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Graphs</a>
                  <!-- <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reports</a> -->
              </div>
          </nav>
          <div class="tab-content navbar-light py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active navbar-nav" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <ul class="nav nav-tabs cus-nav cus-nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item cus-nav-item">
                              <a class="nav-link cus-nav-link active show" data-toggle="tab" href="#thematic" role="tab" aria-controls="thematic" (click)="getChartData('bar','thematic')">1.1 Thematic Area-Wise Beneficiary Benefitted <i class="fas fa-user-friends pt-1" style="color: gray;float: right;"></i></a>
                          </li>
                          <li class="nav-item cus-nav-item">
                              <a class="nav-link cus-nav-link" data-toggle="tab" href="#exposure" role="tab" aria-controls="exposure" (click)="getChartData('line','exposure')">2.1 Training And Exposure Visit <i class="fas fa-seedling pt-1" style="color: orange;float: right;"></i></a>
                          </li>
                          <li class="nav-item cus-nav-item">
                              <a class="nav-link cus-nav-link" data-toggle="tab" href="#cdemo" role="tab" aria-controls="cdemo" (click)="getChartData('bar','cdemo')">3.1 Demonstration Of Crop Specific POP <i class="fas fa-seedling pt-1" style="color: orange;float: right;"></i></a>
                          </li>
                          <li class="nav-item cus-nav-item">
                              <a class="nav-link cus-nav-link" data-toggle="tab" href="#water" role="tab" aria-controls="water" (click)="getChartData('line','water')"> 4.1 Capacity Created For Water Harvesting <i class="fas fa-tint pt-1" style="color: lightblue;float: right;"></i></a>
                          </li>
                          <li class="nav-item cus-nav-item">
                              <a class="nav-link cus-nav-link" data-toggle="tab" href="#soil" role="tab" aria-controls="soil" (click)="getChartData('bar','soil')">5.1 Deficiency Of Nutrients In Soil Samples <i class="fas fa-seedling pt-1" style="color: orange;float: right;"></i></a>
                          </li>
                      </ul>
                      <div class="tab-content cus-tab-content">
                        <div class="tab-pane card-loader-2 active" id="thematic" role="tabpanel">
                            <div class="row">
                                <div class="col-10" *ngIf="status.thematic">
                                    <div id="bar-div">
                                        <app-common-chart [data]="chartData" [id]="'thematic-chart'"></app-common-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane card-loader-2" id="exposure" role="tabpanel">
                            <div class="row" *ngIf="status.exposure">
                                <div class="col">
                                    <select name="month-name" id="month" class="form-control" [(ngModel)]="monthValue" #saveMonth>
                                        <option value="">Select Month</option>
                                        <option *ngFor='let dropVal of monthList' [value]="dropVal.value">{{dropVal.name}}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select name="year-name" id="year" class="form-control" [(ngModel)]="yearValue" #saveYear> 
                                        <option value="">Select Year</option>
                                        <option *ngFor='let dropVal of yearList' [value]="dropVal.value">{{dropVal.name}}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select name="topic-name" id="topic" class="form-control" [(ngModel)]="topicValue" #saveTopic> 
                                        <option value="">Select Topic</option>
                                        <option *ngFor='let dropVal of topics' [value]="dropVal._id">{{dropVal.name}}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary" (click)="getChartData('line','exposure', saveYear.value, saveMonth.value, saveTopic.value)">Search</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10" *ngIf="status.exposure">
                                    <app-common-chart [data]="chartData" [id]="'exposure-chart'"></app-common-chart>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane card-loader-2" id="cdemo" role="tabpanel">
                            <div class="row">
                                <div class="col-10" *ngIf="status.cdemo">
                                    <div id="bar-div">
                                        <app-common-chart [data]="chartData" [id]="'cdem-chart'"></app-common-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane card-loader-2" id="water" role="tabpanel">
                            <div class="row" *ngIf="status.water">
                            <div class="col">
                                <select name="month-name" id="month" class="form-control" [(ngModel)]="monthValue" #saveMonth>
                                    <option value="">Select Month</option>
                                    <option *ngFor='let dropVal of monthList' [value]="dropVal.value">{{dropVal.name}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <select name="year-name" id="year" class="form-control" [(ngModel)]="yearValue" #saveYear> 
                                    <option value="">Select Year</option>
                                    <option *ngFor='let dropVal of yearList' [value]="dropVal.value">{{dropVal.name}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <select name="village-name" id="village" class="form-control" [(ngModel)]="villageValue" #saveVillage> 
                                    <option value="">Select Village</option>
                                    <option *ngFor='let dropVal of villages' [value]="dropVal._id">{{dropVal.name}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary" (click)="getChartData('line','water', saveYear.value, saveMonth.value, '', saveVillage.value)">Search</button>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-10" *ngIf="status.water">
                                    <app-common-chart [data]="chartData" [id]="'water-chart'"></app-common-chart>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane card-loader-2" id="soil" role="tabpanel">
                            <div class="row" *ngIf="status.soil">
                            <div class="col">
                                <select name="month-name" id="month" class="form-control" [(ngModel)]="monthValue" #saveMonth>
                                    <option value="">Select Month</option>
                                    <option *ngFor='let dropVal of monthList' [value]="dropVal.value">{{dropVal.name}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <select name="year-name" id="year" class="form-control" [(ngModel)]="yearValue" #saveYear> 
                                    <option value="">Select Year</option>
                                    <option *ngFor='let dropVal of yearList' [value]="dropVal.value">{{dropVal.name}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <select name="village-name" id="village" class="form-control" [(ngModel)]="villageValue" #saveVillage> 
                                    <option value="">Select Village</option>
                                    <option *ngFor='let dropVal of villages' [value]="dropVal._id">{{dropVal.name}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary" (click)="getChartData('bar','soil', saveYear.value, saveMonth.value, '', saveVillage.value)">Search</button>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-10" *ngIf="status.soil">
                                    <div id="bar-div">
                                        <app-common-chart [data]="chartData" [id]="'soil-chart'"></app-common-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
              </div>
          </div>
      </div>
  </div>

</div>
 