<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-auto">
            <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
        </div>
        <div class="col mb-3">
            <h3>
                {{solarData ? 'Update' : 'Create'}} Solar Spray Pumps
            </h3>
        </div>
    </div>
<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col">
                <form [formGroup]="solarForm" (ngSubmit)="onSubmit(solarForm.value)">
                    <div class="row">
                        <div class="col-6">
                                <div class="form-group">
                                      <label class="form-control-label">Machinery Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                      <select formControlName="machineryOwnerId" class="form-control" [ngClass]="{'form-control-danger': solarForm.controls['machineryOwnerId'].touched && solarForm.controls['machineryOwnerId'].errors}">
                                          <option value="">Select Machinery Name</option>
                                          <option *ngFor="let machinery of machineries.data"  [value]="machinery._id">{{machinery.machineryProfileId.code}}-{{machinery.beneficiaryId.name}}-{{machinery.villageId.name}}</option>
                                      </select>
                                      <span *ngIf="solarForm.controls['machineryOwnerId'].invalid && (solarForm.controls['machineryOwnerId'].dirty || solarForm.controls['machineryOwnerId'].touched)">
                                        <p *ngIf="solarForm.controls['machineryOwnerId'].errors.required" class="text-danger text-right">
                                            Machinery Name is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Activity Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="activity-date"  formControlName="activityDate" class="form-control" [ngClass]="{'form-control-danger': solarForm.controls['activityDate'].touched && solarForm.controls['activityDate'].errors}" (keydown)="$event.preventDefault()"/>
                                    <span *ngIf="solarForm.controls['activityDate'].invalid && (solarForm.controls['activityDate'].dirty || solarForm.controls['activityDate'].touched)">
                                        <p *ngIf="solarForm.controls['activityDate'].errors.required" class="text-danger text-right">
                                            Date is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': solarForm.controls['villageId'].touched && solarForm.controls['villageId'].errors}" (click)="getBeneficiary()">
                                        <option value="">Select Village</option>
                                            <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                    </select>
                                    <span *ngIf="solarForm.controls['villageId'].invalid && (solarForm.controls['villageId'].dirty || solarForm.controls['villageId'].touched)">
                                        <p *ngIf="solarForm.controls['villageId'].errors.required" class="text-danger text-right">
                                            Village Name is required.
                                        </p>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Time Taken Using Manual Operating Machine <small>(in Hours) </small></label>
                                    <input type="text"  formControlName="timeTakenUsingManualOperatedMachine" class="form-control" [ngClass]="{'form-control-danger': solarForm.controls['timeTakenUsingManualOperatedMachine'].touched && solarForm.controls['timeTakenUsingManualOperatedMachine'].errors}" (keypress)="checkInt($event)" (keyup)="onChanges()" appBlockCopyPaste/>
                                    <span *ngIf="solarForm.controls['timeTakenUsingManualOperatedMachine'].invalid && (solarForm.controls['timeTakenUsingManualOperatedMachine'].dirty || solarForm.controls['timeTakenUsingManualOperatedMachine'].touched)">
                                        <p *ngIf="solarForm.controls['timeTakenUsingManualOperatedMachine'].errors.required" class="text-danger text-right">
                                            Time Taken is required.
                                        </p>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Time Saved <small>( in Hours)</small> </label>
                                    <input type="text"  formControlName="timeSaved" class="form-control" readonly/>
                                </div> 
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="activityId" class="form-control">
                                    <option value="{{activityId}}">Solar Spray Pumps</option>
                                </select>
                                <span *ngIf="solarForm.controls['activityId'].invalid && (solarForm.controls['activityId'].dirty || solarForm.controls['activityId'].touched)">
                                    <p *ngIf="solarForm.controls['activityId'].errors.required" class="text-danger text-right">
                                        Activity Name is required.
                                    </p>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Crop Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="cropId" class="form-control" [ngClass]="{'form-control-danger': solarForm.controls['cropId'].touched && solarForm.controls['cropId'].errors}">
                                    <option value="">Select Crop</option>
                                    <option *ngFor="let crop of crops.data"  [value]="crop._id">{{crop.name}}</option>
                                </select>
                                <span *ngIf="solarForm.controls['cropId'].invalid && (solarForm.controls['cropId'].dirty || solarForm.controls['cropId'].touched)">
                                    <p *ngIf="solarForm.controls['cropId'].errors.required" class="text-danger text-right">
                                        Crop Name is required.
                                    </p>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Beneficiary Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i> &nbsp;<small>(If Beneficiary is not for this village <a style="color: blue" class="pointerView redirectLink" (click)="redirectToBeneficiary(this.solarForm.controls['villageId'].value)"> Click Here </a> to add Beneficiary)</small></label>
                                <!-- <select formControlName="beneficiaryId" class="form-control" [ngClass]="{'form-control-danger': ((solarForm.controls['beneficiaryId'].touched && solarForm.controls['beneficiaryId'].errors) || solarForm.controls['beneficiaryId'].value == '') && solarForm.controls['villageId'].touched }">
                                    <option value="">Select Beneficiary</option>
                                    <option *ngFor="let beneficiary of beneficiaries.data"  [value]="beneficiary._id">{{beneficiary.code}} - {{beneficiary.name}} - {{beneficiary.fatherName}}</option>
                                </select> -->
                                <angular2-multiselect 
                                        *ngIf="flag"
                                        [data]="dropdownList" 
                                        [settings]="dropdownSettings" 
                                        formControlName="beneficiaryId">
                                </angular2-multiselect>
                                <span *ngIf="solarForm.controls['beneficiaryId'].invalid && solarForm.controls['villageId'].touched ">
                                    <p *ngIf="solarForm.controls['beneficiaryId'].errors?.required " class="text-danger text-right">
                                        Beneficiary Name is required.
                                    </p>
                                </span>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Time taken using solar spray machine <small>(in Hours) </small></label>
                                <input type="text"  formControlName="timeTakenUsingSolarSprayMachine" class="form-control" [ngClass]="{'form-control-danger': solarForm.controls['timeTakenUsingSolarSprayMachine'].touched && solarForm.controls['timeTakenUsingSolarSprayMachine'].errors}" (keypress)="checkInt($event)" (keyup)="onChanges()" [readonly]="solarForm.controls['timeTakenUsingManualOperatedMachine'].value == ''" appBlockCopyPaste/>
                                <span *ngIf="solarForm.controls['timeTakenUsingSolarSprayMachine'].invalid && (solarForm.controls['timeTakenUsingSolarSprayMachine'].dirty || solarForm.controls['timeTakenUsingSolarSprayMachine'].touched)">
                                    <p *ngIf="solarForm.controls['timeTakenUsingSolarSprayMachine'].errors.required" class="text-danger text-right">
                                        Time Taken is required.
                                    </p>
                                    <p *ngIf="solarForm.controls['timeTakenUsingSolarSprayMachine'].errors.greaterError" class="text-danger text-right">
                                        Time taken should be lesser than Time Taken Using Manual Operating Machine.
                                    </p>
                                </span>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Area <small>(in acres) </small></label>
                                <input type="text"  formControlName="area" class="form-control" [ngClass]="{'form-control-danger': solarForm.controls['area'].touched && solarForm.controls['area'].errors}" (keypress)="checkInt($event)" appBlockCopyPaste/>
                                <span *ngIf="solarForm.controls['area'].invalid && (solarForm.controls['area'].dirty || solarForm.controls['area'].touched)">
                                    <p *ngIf="solarForm.controls['area'].errors.required" class="text-danger text-right">
                                        Area is required.
                                    </p>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" [disabled]="!solarForm.valid"> Submit</button>
                        <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>