<div id="pt-main" class="pt-perspective">
  <div class="row">
      <div class="col-sm-12">
          <div  id = "ptc-header" class="col-sm-12">
              <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
              Farm Pond
          </div>
      </div>
  </div>
  
  <div class="container">
      <div class="btn-group mb-2" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo(farmPond, 'edit')"><i class="far fa-edit"></i> Update</button>
          <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(farmPond._id)"><i class="far fa-trash-alt"></i> Delete</button>
      </div>
      <div class="row">
          <div class="col">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Id</th>
                    <td class="text-left">{{farmPond?._id}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Name</th>
                    <td class="text-left">{{farmPond?.activityData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Beneficiary Name</th>
                    <td class="text-left">{{farmPond?.beneficiaryData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Village Name</th>
                    <td class="text-left">{{farmPond?.villageData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Date</th>
                    <td class="text-left">{{farmPond?.activityDate |  date: 'd-M-yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Crop Name</th>
                    <td class="text-left">{{farmPond?.cropData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Area under farm pond (In Cubic Meters)</th>
                    <td class="text-left">{{farmPond?.areaUnderFarmPond}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Length of pond (In Meters)</th>
                    <td class="text-left">{{farmPond?.areaUnderFarmPondL}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Width of pond (In Meters)</th>
                    <td class="text-left">{{farmPond?.areaUnderFarmPondW}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Depth of pond (In Meters)</th>
                    <td class="text-left">{{farmPond?.areaUnderFarmPondD}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Water storage capacity (In Kilo Litres)</th>
                    <td class="text-left">{{farmPond?.WaterStorageCapacity}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Created At</th>
                    <td class="text-left">{{farmPond?.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Modified At</th>
                    <td class="text-left">{{farmPond?.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>


