<div class="container-fluid pt-3">
    <div class="row">
    <div class="col-sm-12">
        <div  id = "ptc-header" class="col-sm-12">
            <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
            {{machineData ? 'Update' : 'Create'}} Machinery Owner
        </div>
    </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="machineOwnerForm" (ngSubmit)="onSubmit(machineOwnerForm.value)">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-label">Machine Code <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="machineryProfileId" class="form-control" [ngClass]="{'form-control-danger': machineOwnerForm.controls['machineryProfileId'].touched && machineOwnerForm.controls['machineryProfileId'].errors}">
                                        <option value="">Select Machine Code</option>
                                        <option *ngFor="let machine of machines.data"  [value]="machine._id">{{machine.code}}</option>
                                    </select>
                                    <span *ngIf="machineOwnerForm.controls['machineryProfileId'].invalid && (machineOwnerForm.controls['machineryProfileId'].dirty || machineOwnerForm.controls['machineryProfileId'].touched)">
                                        <p *ngIf="machineOwnerForm.controls['machineryProfileId'].errors.required" class="text-danger text-right">
                                            Machine Code is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': machineOwnerForm.controls['villageId'].touched && machineOwnerForm.controls['villageId'].errors}" (change)="getBeneficiary()">
                                    <option value="">Select Village Name</option>
                                    <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                    </select>
                                    <span *ngIf="machineOwnerForm.controls['villageId'].invalid && (machineOwnerForm.controls['villageId'].dirty || machineOwnerForm.controls['villageId'].touched)">
                                        <p *ngIf="machineOwnerForm.controls['villageId'].errors.required" class="text-danger text-right">
                                        Village Name is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Beneficiary Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i> &nbsp;<small>(If Beneficiary is not for this village <a style="color: blue" class="pointerView redirectLink" (click)="redirectToBeneficiary(this.machineOwnerForm.controls['villageId'].value)"> Click Here </a> to add Beneficiary)</small></label>
                                    <select formControlName="beneficiaryId" class="form-control" [ngClass]="{'form-control-danger': ((machineOwnerForm.controls['beneficiaryId'].touched && machineOwnerForm.controls['beneficiaryId'].errors) || machineOwnerForm.controls['beneficiaryId'].value == '') && machineOwnerForm.controls['villageId'].touched }">
                                        <option value="">Select Beneficiary</option>
                                        <option *ngFor="let beneficiary of beneficiaries.data"  [value]="beneficiary._id">{{beneficiary.code}} - {{beneficiary.name}} - {{beneficiary.fatherName}}</option>
                                    </select>
                                    <span *ngIf="machineOwnerForm.controls['beneficiaryId'].invalid && machineOwnerForm.controls['villageId'].touched ">
                                        <p *ngIf="machineOwnerForm.controls['beneficiaryId'].errors?.required " class="text-danger text-right">
                                            Beneficiary Name is required.
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!machineOwnerForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>