<div class="container-fluid pt-3">
  <div class="row align-items-center">
    <div class="col-sm-8">
      <h1>
        Beneficiary
      </h1>
    </div>
    <div class="col-sm-4 text-right">
      <a class="btn btn-outline-dark mr-3" (click)="downloadCSV()"
      href="{{downloadUrl}}">Export CSV</a>
      <button [routerLink]="['../../form']" title="Add New Beneficiary" class="btn btn-primary">
        CREATE
      </button>
    </div>
  </div>
  <div class="card">
    <div class="lds-ellipsis" id="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    <div class="card-body contact-details" *ngIf="tableHideShowStatus">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          Showing <span *ngIf="page == 1">{{skip + 1}}</span><span *ngIf="page != 1">{{limit * (page  - 1) + 1 }}</span>-{{page * limit}} of {{totalCount}} entries
          <label class="label-control ml-3">
            <select class="form-control form-control-sm full-data-show-entry" [(ngModel)]="limit"
              (change)="getDataByLimit(limit)">
              <option [ngValue]="10">10</option>
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead class="thead-dark">
            <tr>
              <th width="1">#</th>
              <th>Image</th>
              <th class="cursor-hand" (click)="get('name')">Beneficiary Name</th>
              <th class="cursor-hand" (click)="get('villageId')">Village Name</th>
              <th class="cursor-hand" (click)="get('code')">Beneficiary Code</th>
              <th class="cursor-hand" (click)="get('fatherName')">Father/ Husband Name</th>
              <th>Created At</th>
              <th>Modified At</th>
              <th class="text-center">Action</th>
            </tr>
            <tr>
              <th ></th>
              <th class="py-2 pr-2"></th>
              <th class="py-2 pr-2"><input type="text" class="form-control form-control-sm" placeholder="Name"
                  (keyup)="get()" [(ngModel)]="name" ></th>
              <th class="py-2 pr-2">
                <select name="village" id="village-drop" class="form-control form-control-sm"
                  (change)="get()" [(ngModel)]="village" >
                  <option value="">Select Village</option>
                  <option value="{{village._id}}" *ngFor="let village of villages.data">{{village.name}}</option>
                </select>
              </th>
              <th class="py-2 pr-2"><input type="text" class="form-control form-control-sm" [(ngModel)]="code" placeholder="Code"
                  (keyup)="get()" ></th>
              <th class="py-2 pr-2"><input type="text" class="form-control form-control-sm" placeholder="Father/Husband Name"
                  (keyup)="get()" [(ngModel)]="father" ></th>
              <th class="py-2 pr-2"></th>
              <th class="py-2 pr-2"></th>
              <th class="py-2 pr-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor='let data of beneficiaries.data | paginate: { id:"foo", itemsPerPage: limit, currentPage: page, totalItems: totalCount }; index as i'>
              <td *ngIf="page != 1">{{i+1+((page -1)*limit)}}</td><td *ngIf="page == 1">{{i+1}}</td>
              <td>
                <a  *ngIf="data.photo" data-toggle="modal" data-backdrop=""  data-target="#image-modal" (click)="url = data.photo" style="cursor: pointer">
                  <img src="{{data.photo}}" alt="photo" style="width:25px;height:25px" (error)="data.photo = ''" class="rounded-circle">
                </a>
              </td>
              <td><a href="javascript:void(0)"  class="text-dark font-weight-bold" (click)="redirectTo(data,'view')">{{data.name}}</a></td>
              <td>{{data.villageId.name}}</td>
              <td>{{data.code}}</td>
              <td>{{data.fatherName}}</td>
              <td><span title="{{data.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}">{{data.createdAt |  date: 'mediumDate'}}</span></td>
              <td><span title="{{data.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}">{{data.modifiedAt |  date: 'mediumDate'}}</span></td>
              <!-- <td class="text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-default btn-mini" (click)="redirectTo(data,'view')"><i
                      class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-success btn-mini" (click)="redirectTo(data, 'edit')"><i
                      class="far fa-edit"></i></button>
                  <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal"
                    (click)="delete(data._id)"><i class="far fa-trash-alt"></i></button>
                </div>
              </td> -->
              <td class="text-right">
                  <div class="dropdown">
                      <button class="btn btn-default" type="button" [id]="'dropdownMenuButton' + i" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton' + i">
                        <a  class="dropdown-item cursor-hand" (click)="redirectTo(data,'view')">View Details</a>
                        <a  class="dropdown-item cursor-hand" (click)="redirectTo(data, 'edit')">Modify</a>
                        <a  class="dropdown-item cursor-hand" data-toggle="modal" data-backdrop=""  data-target="#myModal"
                          (click)="delete(data._id)">Delete</a>
                      </div>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls id="foo" (pageChange)="setPage($event)" directionLinks="true" autoHide="true"
          previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>

<!-- Modal -->
<div class="modal fade" id="image-modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Image</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <img src="{{url}}" alt="photo" style="width: 100%; height: 400px;">
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
    
  </div>
</div>