<div id="pt-main" class="pt-perspective">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                Pond Rejuvenation
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="btn-group mb-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo(pondData, 'edit')"><i class="far fa-edit"></i> Update</button>
            <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(pondData._id)"><i class="far fa-trash-alt"></i> Delete</button>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th scope="row">Id</th>
                      <td class="text-left">{{pondData?._id}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Activity Name</th>
                      <td class="text-left">{{pondData?.activityData.name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Activity Date</th>
                      <td class="text-left">{{pondData?.activityDate |  date: 'd-M-yyyy'}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Activity Code</th>
                      <td class="text-left">{{pondData?.activityData.code}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Village Name</th>
                      <td class="text-left">{{pondData?.villageData.name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Beneficiary Benefitted</th>
                      <td class="text-left">{{pondData?.beneficiaryBenefitted}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Area before (In Cubic Metres)</th>
                      <td class="text-left">{{pondData?.areaBefore}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Pond Length before (In Meters)</th>
                      <td class="text-left">{{pondData?.areaBefore}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Pond Width before (In Meters)</th>
                      <td class="text-left">{{pondData?.areaBefore}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Pond Depth before (In Meters)</th>
                      <td class="text-left">{{pondData?.areaBefore}}</td>
                    </tr>
                    <tr> 
                      <th scope="row">Area after (In Cubic Metres)</th>
                      <td class="text-left">{{pondData?.areaAfter}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Pond Length after (In Meters)</th>
                      <td class="text-left">{{pondData?.areaAfter}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Pond Width after (In Meters)</th>
                      <td class="text-left">{{pondData?.areaAfter}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Pond Depth after (In Meters)</th>
                      <td class="text-left">{{pondData?.areaAfter}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Water storage capacity before (In Kilo Liters)</th>
                      <td class="text-left">{{pondData?.waterStorageCapacityBefore}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Water storage capacity after (In Kilo Liters)</th>
                      <td class="text-left">{{pondData?.waterStorageCapacityAfter}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Increase in water storage capacity (In Kilo Liters)</th>
                      <td class="text-left">{{pondData?.increaseInWaterStorageCapacity}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Created At</th>
                      <td class="text-left">{{pondData?.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Modified At</th>
                      <td class="text-left">{{pondData?.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  
  <app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>
  
  
  
  