<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{blockData ? 'Update' : 'Create'}} Block
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="blockForm" (ngSubmit)="onSubmit(blockForm.value)">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-label">District Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="districtId" class="form-control" [ngClass]="{'form-control-danger': blockForm.controls['districtId'].touched && blockForm.controls['districtId'].errors}">
                                        <option value="">Select District</option>
                                        <option *ngFor="let district of districts.data"  [value]="district._id">{{district.name}}</option>
                                    </select>
                                    <span *ngIf="blockForm.controls['districtId'].invalid && (blockForm.controls['districtId'].dirty || blockForm.controls['districtId'].touched)">
                                        <p *ngIf="blockForm.controls['districtId'].errors.required" class="text-danger text-right">
                                            District Name is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Block Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{'form-control-danger': blockForm.controls['name'].touched && blockForm.controls['name'].errors}" />
                                    <span *ngIf="blockForm.controls['name'].invalid && (blockForm.controls['name'].dirty || blockForm.controls['name'].touched)">
                                        <p *ngIf="blockForm.controls['name'].errors.required" class="text-danger text-right">
                                            Block Name is required.
                                        </p>
                                        <p *ngIf="blockForm.controls['name'].errors.whitespace && !blockForm.controls['name'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!blockForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>