<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{activityData ? 'Update' : 'Create'}} Activity Target
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="activityForm" (ngSubmit)="onSubmit(activityForm.value)">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="activityId" class="form-control" [ngClass]="{'form-control-danger': activityForm.controls['activityId'].touched && activityForm.controls['activityId'].errors}">
                                        <option value="">Select Activity</option>
                                        <option *ngFor="let activity of activities.data"  [value]="activity._id">{{activity.name}}</option>
                                    </select>
                                    <span *ngIf="activityForm.controls['activityId'].invalid && (activityForm.controls['activityId'].dirty || activityForm.controls['activityId'].touched)">
                                        <p *ngIf="activityForm.controls['activityId'].errors.required" class="text-danger text-right">
                                            Activity Name is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Target Activity <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text"  formControlName="target_activity" class="form-control" [ngClass]="{'form-control-danger': activityForm.controls['target_activity'].touched && activityForm.controls['target_activity'].errors}" (keypress)="check($event)" appBlockCopyPaste/>
                                    <span *ngIf="activityForm.controls['target_activity'].invalid && (activityForm.controls['target_activity'].dirty || activityForm.controls['target_activity'].touched)">
                                        <p *ngIf="activityForm.controls['target_activity'].errors.required" class="text-danger text-right">
                                            Target Activity is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Target Beneficiary <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text"  formControlName="target_beneficiary" class="form-control" [ngClass]="{'form-control-danger': activityForm.controls['target_beneficiary'].touched && activityForm.controls['target_beneficiary'].errors}" (keypress)="check($event)" appBlockCopyPaste/>
                                    <span *ngIf="activityForm.controls['target_beneficiary'].invalid && (activityForm.controls['target_beneficiary'].dirty || activityForm.controls['target_beneficiary'].touched)">
                                        <p *ngIf="activityForm.controls['target_beneficiary'].errors.required" class="text-danger text-right">
                                            Target Beneficiary is required.
                                        </p>
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" [disabled]="!activityForm.valid"> Submit</button>
                                <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>