<div class="container-fluid pt-3">
    <div class="row">
            <div class="col-sm-12">
                <div  id = "ptc-header" class="col-sm-12">
                    <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                    {{hortiData ? 'Update' : 'Create'}} Horticulture
                </div>
            </div>
        </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="hortiForm" (ngSubmit)="onSubmit(hortiForm.value)">
                        <div class="row">
                            <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="activityId" class="form-control" [ngClass]="{'form-control-danger': hortiForm.controls['activityId'].touched && hortiForm.controls['activityId'].errors}">
                                            <option value="{{activityId}}">Horticulture</option>
                                        </select>
                                        <span *ngIf="hortiForm.controls['activityId'].invalid && (hortiForm.controls['activityId'].dirty || hortiForm.controls['activityId'].touched)">
                                            <p *ngIf="hortiForm.controls['activityId'].errors.required" class="text-danger text-right">
                                                Activity Name is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': hortiForm.controls['villageId'].touched && hortiForm.controls['villageId'].errors}" (click)="getBeneficiary()">
                                            <option value="">Select Village</option>
                                            <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                        </select>
                                        <span *ngIf="hortiForm.controls['villageId'].invalid && (hortiForm.controls['villageId'].dirty || hortiForm.controls['villageId'].touched)">
                                            <p *ngIf="hortiForm.controls['villageId'].errors.required" class="text-danger text-right">
                                                Village Name is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Crop Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="cropId" class="form-control" [ngClass]="{'form-control-danger': hortiForm.controls['cropId'].touched && hortiForm.controls['cropId'].errors}">
                                            <option value="">Select Crop</option>
                                            <option *ngFor="let crop of crops.data"  [value]="crop._id">{{crop.name}}</option>
                                        </select>
                                        <span *ngIf="hortiForm.controls['cropId'].invalid && (hortiForm.controls['cropId'].dirty || hortiForm.controls['cropId'].touched)">
                                            <p *ngIf="hortiForm.controls['cropId'].errors.required" class="text-danger text-right">
                                                Crop Name is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                            <label class="form-control-label"> Area <small>(in Acres)</small></label>
                                            <input type="text"  formControlName="area" class="form-control" [ngClass]="{'form-control-danger': hortiForm.controls['area'].touched && hortiForm.controls['area'].errors}" (keypress)="check($event)" appBlockCopyPaste/>
                                            <span *ngIf="hortiForm.controls['area'].invalid && (hortiForm.controls['area'].dirty || hortiForm.controls['area'].touched)">
                                                <p *ngIf="hortiForm.controls['area'].errors.required" class="text-danger text-right">
                                                    Area is required.
                                                </p>
                                            </span>
                                    </div>
                            </div>
                            <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Activity Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="activity-date"  formControlName="activityDate" class="form-control" [ngClass]="{'form-control-danger': hortiForm.controls['activityDate'].touched && hortiForm.controls['activityDate'].errors}" (keydown)="$event.preventDefault()"/>
                                        <span *ngIf="hortiForm.controls['activityDate'].invalid && (hortiForm.controls['activityDate'].dirty || hortiForm.controls['activityDate'].touched)">
                                            <p *ngIf="hortiForm.controls['activityDate'].errors.required" class="text-danger text-right">
                                                Date is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Beneficiary Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i> &nbsp;<small>(If Beneficiary is not for this village <a style="color: blue" class="pointerView redirectLink" (click)="redirectToBeneficiary(this.hortiForm.controls['villageId'].value)"> Click Here </a> to add Beneficiary)</small></label>
                                        <!-- <select formControlName="beneficiaryId" class="form-control" [ngClass]="{'form-control-danger': ((hortiForm.controls['beneficiaryId'].touched && hortiForm.controls['beneficiaryId'].errors) || hortiForm.controls['beneficiaryId'].value == '') && hortiForm.controls['villageId'].touched }">
                                            <option value="">Select Beneficiary</option>
                                            <option *ngFor="let beneficiary of beneficiaries.data"  [value]="beneficiary._id">{{beneficiary.code}} - {{beneficiary.name}} - {{beneficiary.fatherName}}</option>
                                        </select> -->
                                        <angular2-multiselect 
                                                *ngIf="flag"
                                                [data]="dropdownList" 
                                                [settings]="dropdownSettings" 
                                                formControlName="beneficiaryId">
                                        </angular2-multiselect>
                                        <span *ngIf="hortiForm.controls['beneficiaryId'].invalid && hortiForm.controls['villageId'].touched ">
                                            <p *ngIf="hortiForm.controls['beneficiaryId'].errors?.required " class="text-danger text-right">
                                                Beneficiary Name is required.
                                            </p>
                                        </span>
                                    </div> 

                                    <div class="form-group">
                                        <label class="form-control-label"> No of plants </label>
                                        <input type="text"  formControlName="numOfPlant" class="form-control" [ngClass]="{'form-control-danger': hortiForm.controls['numOfPlant'].touched && hortiForm.controls['numOfPlant'].errors}" (keypress)="checkInt($event)" appBlockCopyPaste/>
                                        <span *ngIf="hortiForm.controls['numOfPlant'].invalid && (hortiForm.controls['numOfPlant'].dirty || hortiForm.controls['numOfPlant'].touched)">
                                            <p *ngIf="hortiForm.controls['numOfPlant'].errors.required" class="text-danger text-right">
                                                No of plants is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Irrigation</label>
                                        <select formControlName="irrigationMethod" class="form-control" [ngClass]="{'form-control-danger': hortiForm.controls['irrigationMethod'].touched && hortiForm.controls['irrigationMethod'].errors}">
                                            <option value="">Select Irrigation method</option>
                                            <option value="Drip">Drip</option>
                                            <option value="Non-Drip">Non-Drip</option>
                                        </select>
                                        <span *ngIf="hortiForm.controls['irrigationMethod'].invalid && (hortiForm.controls['irrigationMethod'].dirty || hortiForm.controls['irrigationMethod'].touched)">
                                            <p *ngIf="hortiForm.controls['irrigationMethod'].errors.required" class="text-danger text-right">
                                                Irrigation method is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!hortiForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>