<!-- <a class="btn btn-default" [routerLink]="['../../dashboard/home']">Operation level dashboad</a> -->

<div class="container-fluid main-div">
	<div class="row">
		<h2>Dashboard</h2>
	</div>

	<div class="row">
		<div class="col-12 p-0">
			<img class="img-child" src="../../../../assets/images/dashboard.jpg" alt="Children">
		</div>
	</div>

	<div class="row row-gap">
		<div class="col-4" style="padding: 0% 4% 0% 1%;">
			<div class="row" style="background: #F39C12; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
				<div class="col-3">
					<img src="../../../../assets/images/OoSC.svg" alt="icon" class="img-vertical-align">
				</div>
				<div class="col-9" style="color: white">
					<h5>OoSC</h5>
					<p><span class="ind-count">597</span> Male</p>
					<p><span class="ind-count">895</span> Female</p>
				</div>
			</div>
		</div>
		<div class="col-4" style="padding: 0% 2% 0% 2%;">
			<div class="row" style="background: #2E8C39; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
				<div class="col-3">
					<img src="../../../../assets/images/centers.svg" alt="icon" class="img-vertical-align">
				</div>
				<div class="col-9" style="color: white">
					<h5>Centres</h5>
					<p><span class="ind-count">45</span> School</p>
					<p><span class="ind-count">56</span> Community Centre</p>
				</div>
			</div>
		</div>
		<div class="col-4" style="padding: 0% 1% 0% 4%;">
			<div class="row" style="background: #FF7285; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
				<div class="col-3">
					<img src="../../../../assets/images/activities.svg" alt="icon" class="img-vertical-align">
				</div>
				<div class="col-9" style="color: white">
					<h5>Activities</h5>
					<p><span class="ind-count">78</span> ATM</p>
					<p><span class="ind-count">30</span> PTM</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row row-gap">
		<div class="col-6">
			<div id="mapid" class="h-100" style="background: #47425D"></div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-6" style="padding-right: 6%;">
					<div class="row" style="background: #F39C12; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
						<div class="col-4">
							<img src="../../../../assets/images/donors.svg" alt="icon" class="img-vertical-align" style="width: 85%;">
						</div>
						<div class="col-8" style="color: white">
							<h5>Donors</h5>
							<p><span class="ind-count">13</span></p>
						</div>
					</div>
				</div>
				<div class="col-6" style="padding-left: 6%;">
					<div class="row" style="background: #00A7D2; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
						<div class="col-4">
							<img src="../../../../assets/images/mainstreamed.svg" alt="icon" class="img-vertical-align" style="width: 85%;">
						</div>
						<div class="col-8" style="color: white">
							<h5>Mainstreamed</h5>
							<p><span class="ind-count">4590</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-6" style="padding-right: 6%;">
					<div class="row" style="background: #FF7285; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
						<div class="col-4">
							<img src="../../../../assets/images/teachers.svg" alt="icon" class="img-vertical-align" style="width: 85%;">
						</div>
						<div class="col-8" style="color: white">
							<h5>Teachers</h5>
							<p><span class="ind-count">13</span></p>
						</div>
					</div>
				</div>
				<div class="col-6" style="padding-left: 6%;">
					<div class="row" style="background: #2E8C39; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
						<div class="col-4">
							<img src="../../../../assets/images/state.svg" alt="icon" class="img-vertical-align" style="width: 85%;">
						</div>
						<div class="col-8" style="color: white">
							<h5>State</h5>
							<p><span class="ind-count">13</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-6" style="padding-right: 6%;">
					<div class="row" style="background: #00A7D2; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
						<div class="col-4">
							<img src="../../../../assets/images/midday.svg" alt="icon" class="img-vertical-align" style="width: 85%;">
						</div>
						<div class="col-8" style="color: white">
							<h5>Mid Day Meal</h5>
							<p><span class="ind-count">100%</span></p>
						</div>
					</div>
				</div>
				<div class="col-6" style="padding-left: 6%;">
					<div class="row" style="background: #F39C12; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
						<div class="col-4">
							<img src="../../../../assets/images/partner.svg" alt="icon" class="img-vertical-align" style="width: 85%;">
						</div>
						<div class="col-8" style="color: white">
							<h5>Partner</h5>
							<p><span class="ind-count">20</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-6" style="padding-right: 6%;">
					<div class="row" style="background: #2E8C39; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
						<div class="col-4">
							<img src="../../../../assets/images/dropout.svg" alt="icon" class="img-vertical-align" style="width: 85%;">
						</div>
						<div class="col-8" style="color: white">
							<h5>Dropout</h5>
							<p><span class="ind-count">13</span></p>
						</div>
					</div>
				</div>
				<div class="col-6" style="padding-left: 6%;">
					<div class="row" style="background: #FF7285; padding: 6%; border-radius: 10px; box-shadow: 10px 10px 5px #aaaaaa2e">
						<div class="col-4">
							<img src="../../../../assets/images/attendance.svg" alt="icon" class="img-vertical-align" style="width: 85%;">
						</div>
						<div class="col-8" style="color: white">
							<h5>Attendance</h5>
							<p><span class="ind-count">78%</span> August</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="row row-gap">
		<div class="col-6 p-0">
			<div id="map" class="h-100 card-loader-2"></div>
		</div>
		<div class="col-6 p-0">
			<div class="row mb-5">
				<div class="col-sm-6">
					<div id="int-village" class="swatch-purple rounded p-3 mb-3 card-loader"  style="cursor: pointer" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="showTable('inter')">
						<h3>{{interventionCount}}</h3>
						<div>Project Intervention Villages</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="non-village" class="swatch-pink rounded p-3 mb-3 card-loader"  style="cursor: pointer" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="showTable('non')">
						<h3>{{noninterventionCount}}</h3>
						<div>Project Non Intervention Villages	</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="block" class="swatch-yellow rounded p-3 mb-3 card-loader"  style="cursor: pointer" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="showTable('block')">
						<h3>{{blockCount}}</h3>
						<div>Block List	</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="district" class="swatch-blue rounded p-3 mb-3 card-loader"  style="cursor: pointer" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="showTable('district')">
						<h3>{{districtCount}}</h3>
						<div>District</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="swatch-green rounded p-3 mb-3">
						<h3>Rajasthan</h3>
						<div>State</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="bg-white shadow rounded p-3 pointerView" [routerLink]="['../../graph-dashboard']">
						<div class="mb-3 bg-secondary rounded w-25 w-25 p-3 text-center mt-n5">
							<img src="../../../../assets/images/computer.svg" alt="Graph Dashboard" height="34">
						</div>
						<a class="h5 text-dark" >
							Graph Dashboard
						</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="bg-white shadow rounded p-3 pointerView" [routerLink]="['../../report-dashboard']">
						<div class="mb-3 bg-secondary rounded w-25 w-25 p-3 text-center mt-n5">
							<img src="../../../../assets/images/home.svg" alt="Management Level Dashboard" height="34">
						</div>
						<a class="h5 text-dark" >
							Report Dashboard
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- Program wise number of students -->
	<div class="row row-gap card-back">
		<div class="col-12">
			<div class="row cards-header-style">
				<div class="col">
					<h4>Program wise number of students</h4>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-2">
					<select class="form-control" name="month" id="month">
						<option value="" selected>Month</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="type" id="type">
						<option value="" selected>Type</option>
					</select>
				</div>
				<div class="col">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="bar-div">
						<app-common-chart [data]="programChartData" [id]="'center-chart'"></app-common-chart>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Attendance -->
	<div class="row row-gap card-back">
		<div class="col-12">
			<div class="row cards-header-style">
				<div class="col">
					<h4>Attendance</h4>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-2">
					<select class="form-control" name="month" id="month">
						<option value="" selected>Month</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="type" id="type">
						<option value="" selected>Type</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="partner" id="partner">
						<option value="" selected>Partners</option>
					</select>
				</div>
				<div class="col">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="attendence-div">
						<app-common-chart [data]="attendenceChartData" [id]="'attendence-chart'"></app-common-chart>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Overview -->
	<div class="row row-gap card-back">
		<div class="col-12">
			<div class="row cards-header-style">
				<div class="col">
					<h4>Overview</h4>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-2">
					<select class="form-control" name="month" id="month">
						<option value="" selected>Month</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="type" id="type">
						<option value="" selected>Type</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="partner" id="partner">
						<option value="" selected>Partners</option>
					</select>
				</div>
				<div class="col">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="attendence-div">
						<app-common-chart [data]="overviewChartData" [id]="'overview-chart'"></app-common-chart>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Learning Score -->
	<div class="row row-gap card-back">
		<div class="col-12">
			<div class="row cards-header-style">
				<div class="col">
					<h4>Learning Score</h4>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-2">
					<select class="form-control" name="donor" id="donor">
						<option value="" selected>Donor</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="month" id="month">
						<option value="" selected>Month</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="year" id="year">
						<option value="" selected>Year</option>
					</select>
				</div>
				<div class="col">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="bar-div">
						<app-common-chart [data]="learningChartData" [id]="'learning-chart'"></app-common-chart>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Dropout -->
	<div class="row row-gap card-back">
		<div class="col-12">
			<div class="row cards-header-style">
				<div class="col">
					<h4>Dropout</h4>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-2">
					<select class="form-control" name="donor" id="donor">
						<option value="" selected>Donor</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="month" id="month">
						<option value="" selected>Month</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="year" id="year">
						<option value="" selected>Year</option>
					</select>
				</div>
				<div class="col">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="bar-div">
						<app-common-chart [data]="dropoutChartData" [id]="'dropout-chart'"></app-common-chart>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Mainstream -->
	<div class="row row-gap card-back">
		<div class="col-12">
			<div class="row cards-header-style">
				<div class="col">
					<h4>Mainstream</h4>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-2">
					<input type="date" id="from-date" placeholder="From"  class="form-control" (keydown)="$event.preventDefault()"/>
				</div>
				<div class="col-2">
					<input type="date" id="to-date" placeholder="To"  class="form-control" (keydown)="$event.preventDefault()"/>
				</div>
				<div class="col-2">
					<select class="form-control" name="donor" id="donor">
						<option value="" selected>Donor</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-control" name="partner" id="partner">
						<option value="" selected>Partners</option>
					</select>
				</div>
				<div class="col">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="bar-div">
						<app-common-chart [data]="mainstreamChartData" [id]="'mainstream-chart'"></app-common-chart>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Donor wise centre -->
	<div class="row row-gap card-back">
		<div class="col-12">
			<div class="row cards-header-style">
				<div class="col">
					<h4>Donor wise centre</h4>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col">
					<div id="bar-div">
						<app-common-chart [data]="donorChartData" [id]="'donor-chart'"></app-common-chart>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row row-gap"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{popupHeader}}</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body" style="height: 400px;
			overflow-y: auto;
			overflow-x: visible;">
					<table class="table table-bordered">
						<thead id="header-color">
							<tr>
								<th *ngFor="let header of tableHeader">{{header}}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of popUpData; index as i">
								<td>{{i+1}}</td>
								<td *ngFor="let z of keys; index as j">{{item[z]['name'] ? item[z]['name'] : item[z] }}</td>
							</tr>
						</tbody>
					</table>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div> -->
		</div>
		
	</div>
</div>

<div [hidden]="true">
	<h2>2D Transitions</h2>

	<a href="#" class="hvr-grow">Grow</a>
	<a href="#" class="hvr-shrink">Shrink</a>
	<a href="#" class="hvr-pulse">Pulse</a>
	<a href="#" class="hvr-pulse-grow">Pulse Grow</a>
	<a href="#" class="hvr-pulse-shrink">Pulse Shrink</a>
	<a href="#" class="hvr-push">Push</a>
	<a href="#" class="hvr-pop">Pop</a>
	<a href="#" class="hvr-bounce-in">Bounce In</a>
	<a href="#" class="hvr-bounce-out">Bounce Out</a>
	<a href="#" class="hvr-rotate">Rotate</a>
	<a href="#" class="hvr-grow-rotate">Grow Rotate</a>
	<a href="#" class="hvr-float">Float</a>
	<a href="#" class="hvr-sink">Sink</a>
	<a href="#" class="hvr-bob">Bob</a>
	<a href="#" class="hvr-hang">Hang</a>
	<a href="#" class="hvr-skew">Skew</a>
	<a href="#" class="hvr-skew-forward">Skew Forward</a>
	<a href="#" class="hvr-skew-backward">Skew Backward</a>
	<a href="#" class="hvr-wobble-horizontal">Wobble Horizontal</a>
	<a href="#" class="hvr-wobble-vertical">Wobble Vertical</a>
	<a href="#" class="hvr-wobble-to-bottom-right">Wobble To Bottom Right</a>
	<a href="#" class="hvr-wobble-to-top-right">Wobble To Top Right</a>
	<a href="#" class="hvr-wobble-top">Wobble Top</a>
	<a href="#" class="hvr-wobble-bottom">Wobble Bottom</a>
	<a href="#" class="hvr-wobble-skew">Wobble Skew</a>
	<a href="#" class="hvr-buzz">Buzz</a>
	<a href="#" class="hvr-buzz-out">Buzz Out</a>
	<a href="#" class="hvr-forward">Forward</a>
	<a href="#" class="hvr-backward">Backward</a>


	<h2>Background Transitions</h2>

	<a href="#" class="hvr-fade">Fade</a>
	<a href="#" class="hvr-back-pulse">Back Pulse</a>
	<a href="#" class="hvr-sweep-to-right">Sweep To Right</a>
	<a href="#" class="hvr-sweep-to-left">Sweep To Left</a>
	<a href="#" class="hvr-sweep-to-bottom">Sweep To Bottom</a>
	<a href="#" class="hvr-sweep-to-top">Sweep To Top</a>
	<a href="#" class="hvr-bounce-to-right">Bounce To Right</a>
	<a href="#" class="hvr-bounce-to-left">Bounce To Left</a>
	<a href="#" class="hvr-bounce-to-bottom">Bounce To Bottom</a>
	<a href="#" class="hvr-bounce-to-top">Bounce To Top</a>
	<a href="#" class="hvr-radial-out">Radial Out</a>
	<a href="#" class="hvr-radial-in">Radial In</a>
	<a href="#" class="hvr-rectangle-in">Rectangle In</a>
	<a href="#" class="hvr-rectangle-out">Rectangle Out</a>
	<a href="#" class="hvr-shutter-in-horizontal">Shutter In Horizontal</a>
	<a href="#" class="hvr-shutter-out-horizontal">Shutter Out Horizontal</a>
	<a href="#" class="hvr-shutter-in-vertical">Shutter In Vertical</a>
	<a href="#" class="hvr-shutter-out-vertical">Shutter Out Vertical</a>


	<h2>Icons</h2>

	<small>Demo font icons courtesy of <a href="https://fortawesome.github.io/Font-Awesome/">FontAwesome</a>. <a
			href="https://github.com/IanLunn/Hover/#using-icon-effects">How to use icons</a> with Hover.css.</small>

	<a href="#" class="hvr-icon-back">
		<i class="fa fa-chevron-circle-left hvr-icon"></i> Icon Back
	</a>
	<a href="#" class="hvr-icon-forward">
		Icon Forward
		<i class="fa fa-chevron-circle-right hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-down">
		Icon Down <i class="fa fa-arrow-circle-o-down hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-up">
		Icon Up <i class="fa fa-arrow-circle-o-up hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-spin">
		Icon Spin <i class="fa fa-refresh hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-drop">
		Icon Drop <i class="fa fa-tint hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-fade">
		Icon Fade <i class="fa fa-check hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-float-away">
		Icon Float Away <i class="fa fa-plus-circle hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-sink-away">
		Icon Sink Away <i class="fa fa-minus-circle hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-grow">
		Icon Grow <i class="fa fa-smile-o hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-shrink">
		Icon Shrink <i class="fa fa-frown-o hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-pulse">
		Icon Pulse <i class="fa fa-home hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-pulse-grow">
		Icon Pulse Grow <i class="fa fa-home hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-pulse-shrink">
		Icon Pulse Shrink <i class="fa fa-home hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-push">
		Icon Push <i class="fa fa-star-o hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-pop">
		Icon Pop <i class="fa fa-star hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-bounce">
		Icon Bounce <i class="fa fa-thumbs-o-up hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-rotate">
		Icon Rotate <i class="fa fa-paperclip hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-grow-rotate">
		Icon Grow Rotate <i class="fa fa-phone hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-float">
		Icon Float <i class="fa fa-arrow-circle-o-up hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-sink">
		Icon Sink <i class="fa fa-arrow-circle-o-down hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-bob">
		Icon Bob <i class="fa fa-chevron-up hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-hang">
		Icon Hang <i class="fa fa-chevron-down hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-wobble-horizontal">
		Icon Wobble Horizontal <i class="fa fa-arrow-right hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-wobble-vertical">
		Icon Wobble Vertical <i class="fa fa-arrow-up hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-buzz">
		Icon Buzz <i class="fa fa-clock-o hvr-icon"></i>
	</a>
	<a href="#" class="hvr-icon-buzz-out">
		Icon Buzz Out <i class="fa fa-lock hvr-icon"></i>
	</a>


	<h2>Border Transitions</h2>

	<a href="#" class="hvr-border-fade">Border Fade</a>
	<a href="#" class="hvr-hollow">Hollow</a>
	<a href="#" class="hvr-trim">Trim</a>
	<a href="#" class="hvr-ripple-out">Ripple Out</a>
	<a href="#" class="hvr-ripple-in">Ripple In</a>
	<a href="#" class="hvr-outline-out">Outline Out</a>
	<a href="#" class="hvr-outline-in">Outline In</a>
	<a href="#" class="hvr-round-corners">Round Corners</a>
	<a href="#" class="hvr-underline-from-left">Underline From Left</a>
	<a href="#" class="hvr-underline-from-center">Underline From Center</a>
	<a href="#" class="hvr-underline-from-right">Underline From Right</a>
	<a href="#" class="hvr-reveal">Reveal</a>
	<a href="#" class="hvr-underline-reveal">Underline Reveal</a>
	<a href="#" class="hvr-overline-reveal">Overline Reveal</a>
	<a href="#" class="hvr-overline-from-left">Overline From Left</a>
	<a href="#" class="hvr-overline-from-center">Overline From Center</a>
	<a href="#" class="hvr-overline-from-right">Overline From Right</a>


	<h2>Shadow and Glow Transitions</h2>

	<a href="#" class="hvr-shadow">Shadow</a>
	<a href="#" class="hvr-grow-shadow">Grow Shadow</a>
	<a href="#" class="hvr-float-shadow">Float Shadow</a>
	<a href="#" class="hvr-glow">Glow</a>
	<a href="#" class="hvr-shadow-radial">Shadow Radial</a>
	<a href="#" class="hvr-box-shadow-outset">Box Shadow Outset</a>
	<a href="#" class="hvr-box-shadow-inset">Box Shadow Inset</a>


	<h2>Speech Bubbles</h2>

	<a href="#" class="hvr-bubble-top">Bubble Top</a>
	<a href="#" class="hvr-bubble-right">Bubble Right</a>
	<a href="#" class="hvr-bubble-bottom">Bubble Bottom</a>
	<a href="#" class="hvr-bubble-left">Bubble Left</a>
	<a href="#" class="hvr-bubble-float-top">Bubble Float Top</a>
	<a href="#" class="hvr-bubble-float-right">Bubble Float Right</a>
	<a href="#" class="hvr-bubble-float-bottom">Bubble Float Bottom</a>
	<a href="#" class="hvr-bubble-float-left">Bubble Float Left</a>

	<h2>Curls</h2>

	<a href="#" class="hvr-curl-top-left">Curl Top Left</a>
	<a href="#" class="hvr-curl-top-right">Curl Top Right</a>
	<a href="#" class="hvr-curl-bottom-right">Curl Bottom Right</a>
	<a href="#" class="hvr-curl-bottom-left">Curl Bottom Left</a>
</div>
