@import '../../../../colors';

.swatch-purple{
    background: lighten($purple, 25%);
    color: #000;
}
.swatch-pink{
    background: lighten($pink, 25%);
    color: #000;
}
.swatch-yellow{
    background: lighten($yellow, 25%);
    color: #000;
}
.swatch-blue{
    background: lighten($blue, 25%);
    color: #000;
}
.swatch-orange{
    background: lighten($orange, 25%);
    color: #000;
}
.swatch-green{
    background: lighten($green, 25%);
    color: #000;
}
.db-img{
    width: 63%;
    margin-left: 18%;
}

h2 {
    padding-bottom: 3%;
    text-align: unset;
    font-size: 30px;
    font-weight: unset;
    text-transform: unset;
    display: unset;
    margin: unset;
    color: unset;
}

h2:after {
    position: absolute;
    content: " ";
    display: block;
    width: 6.5%;
    border: 2px solid #42B3F5;
    border-radius: 15px;
}

.main-div{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.img-child{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 27%;
    border-radius: 15px;
}

.row-gap{
    margin-top: 3%;
}

p{
    margin-bottom: unset !important;
}

.ind-count{
    font-size: 20px;
}

.img-vertical-align{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.btn-primary{
    color: #fff;
    background-color: #00A7D2;
    border-color: #d7d5d5;
}

.form-control:focus {
    border-color : #d7d5d5;
    box-shadow : 0 0 0 0.2rem rgba(0, 167, 210, 0.14);
}

.cards-header-style{
    background: #00A7D2;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-back {
    background: #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h4 {
    margin-bottom: 0;
    padding: 1% 0% 1% 0%;
}

button {
    width: 15%;
}

canvas{
    height: 200px;
}