<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{cbtopicData ? 'Update' : 'Create'}} Capacity Building Topic
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
                <div class="row">
                    <div class="col">
                        <form [formGroup]="cbtopicForm" (ngSubmit)="onSubmit(cbtopicForm.value)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Topic Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <input type="text" formControlName="name" class="form-control" [ngClass]="{'form-control-danger': cbtopicForm.controls['name'].touched && cbtopicForm.controls['name'].errors}" />
                                        <span *ngIf="cbtopicForm.controls['name'].invalid && (cbtopicForm.controls['name'].dirty || cbtopicForm.controls['name'].touched)">
                                            <p *ngIf="cbtopicForm.controls['name'].errors.required" class="text-danger text-right">
                                                Topic Name is required.
                                            </p>
                                            <p *ngIf="cbtopicForm.controls['name'].errors.whitespace && !cbtopicForm.controls['name'].errors.required" class="text-danger text-right">
                                                Blank spaces not allowed.
                                            </p>
                                        </span>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" [disabled]="!cbtopicForm.valid"> Submit</button>
                                <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        
    </div>
</div>