<div class="container-fluid pt-3">
  <div class="row">
      <div class="col-sm-8">
          <div id = "ptc-header" class="col-sm-12">
            Training And Exposure Visits
          </div>
      </div>
      <div class="col-sm-4 text-right">
          <button class="btn btn-outline-dark mr-3" type="button" (click)="exportCSV()">Export CSV</button>
          <button [routerLink]="['../../../form']" title="Add New Training And Exposure Visits" class="btn btn-primary">
            CREATE
          </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body contact-details">
      <div class="lds-ellipsis" id = "loader"><div></div><div></div><div></div><div></div></div>
      <table id="trainingTable"  *ngIf="tableHideShowStatus" class="table table-striped" style="width:100%">
          <thead class="thead-dark">
              <tr>
                  <th>Sr No.</th>
                  <th class="text-center">Action</th>
                  <th>Activity Name</th>
                  <th>Topic Name</th>
                  <th>Farmers Attended</th>
                  <th>Topic Date</th>
                  <th>Location</th>
                  <th>Created At</th>
                  <th>Modified At</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let data of training.data; index as i">
                  <td>{{i+1}}</td>
                  <td class="pointerView" style="cursor: pointer">
                    <a class="p-3" data-toggle="dropdown"><i class="fas fa-chevron-down" aria-hidden="true"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item pointerView" (click) = "redirectTo(data,'view')">View</a>
                        <a class="dropdown-item pointerView" (click) = "redirectTo(data, 'edit')">Edit</a>
                        <a class="dropdown-item pointerView" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(data._id)">Delete</a>
                        <a class="dropdown-item pointerView" title="View Beneficiaries"   (click) = "redirectTo(data, 'add')">Beneficiaries</a>
                    </div>
                  </td>
                  <td>{{data.activityData.name}}</td>
                  <td>{{data.cbTopicData.name}}</td>
                  <td>{{data.totalFarmers}}</td>
                  <td>{{data.topicDate |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  <td>{{data.location}}</td>
                  <td>{{data.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  <td>{{data.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>  
<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>