<div id="pt-main" class="pt-perspective">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                Training And Exposure Visits
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="btn-group mb-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo(trainingData, 'edit')"><i class="far fa-edit"></i> Update</button>
            <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(trainingData._id)"><i class="far fa-trash-alt"></i> Delete</button>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th scope="row">Id</th>
                      <td class="text-left">{{trainingData?._id}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Activity Name</th>
                      <td class="text-left">{{trainingData?.activityData.name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Topic Date</th>
                      <td class="text-left">{{trainingData?.topicDate |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Topic Name</th>
                      <td class="text-left">{{trainingData?.cbTopicData.name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Total Farmers</th>
                      <td class="text-left">{{trainingData?.totalFarmers}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Location</th>
                      <td class="text-left">{{trainingData?.location}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Created At</th>
                      <td class="text-left">{{trainingData?.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Modified At</th>
                      <td class="text-left">{{trainingData?.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  
  <app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>
  
  
  