<div id="pt-main" class="pt-perspective">
  <div class="row">
      <div class="col-sm-12">
          <div  id = "ptc-header" class="col-sm-12">
              <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
              Demonstration Of Crops Specific Pop
          </div>
      </div>
  </div>
  
  <div class="container">
      <div class="btn-group mb-2" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo(cropDemonstrationData, 'edit')"><i class="far fa-edit"></i> Update</button>
          <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(cropDemonstrationData._id)"><i class="far fa-trash-alt"></i> Delete</button>
      </div>
      <div class="row">
          <div class="col">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Id</th>
                    <td class="text-left">{{cropDemonstrationData?._id}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Name</th>
                    <td class="text-left">{{cropDemonstrationData?.activityData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Beneficiary Name</th>
                    <td class="text-left">{{cropDemonstrationData?.beneficiaryData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Village Name</th>
                    <td class="text-left">{{cropDemonstrationData?.villageData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Date</th>
                    <td class="text-left">{{cropDemonstrationData?.activityDate |  date: 'd-M-yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Control Plot Yield (In Kg/Acre)</th>
                    <td class="text-left">{{cropDemonstrationData?.controlPlotyield}}</td>
                  </tr> 
                  <tr>
                    <th scope="row">Demo Plot Yield (In Kg/Acre)</th>
                    <td class="text-left">{{cropDemonstrationData?.demoPlotYield}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Damaged Un-damaged Crop</th>
                    <td class="text-left">{{cropDemonstrationData?.demagedPlot}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Area (In Acre)</th>
                    <td class="text-left">{{cropDemonstrationData?.area}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Crop Name</th>
                    <td class="text-left">{{cropDemonstrationData?.cropData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Variety Name</th>
                    <td class="text-left">{{cropDemonstrationData?.varietyData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">percentage increase in Yield</th>
                    <td class="text-left">{{cropDemonstrationData?.percentageIncreaseInYield}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Created At</th>
                    <td class="text-left">{{cropDemonstrationData?.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Modified At</th>
                    <td class="text-left">{{cropDemonstrationData?.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>


