<!-- check it dkdkkd -->
<div class="wrapper">
    <div id="formContent" class=" p-3">
        <div class="row">
            <div class="col-6 p-0">
                <!-- Slider main container -->
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" id="slide-img-1"></div>
                        <div class="swiper-slide" id="slide-img-2"></div>
                        <div class="swiper-slide" id="slide-img-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-6 center-form">
                <div style="width: 65%;">
                    <!-- Icon -->
                    <div class="fadeIn mb-3">
                            <!-- <h3>PTC Sitamarhi</h3> -->
                            <img src="../../../assets/images/tap-logo.png"  alt="Sehgal Foundation" class="img-fluid" width="250" />
                    </div>

                    <div>
                        <p style="font-size: 30px;
                        letter-spacing: 7px;
                        font-weight: bolder;">Login</p>
                    </div>
                    <!-- Login Form -->
                    <form #loginForm="ngForm" role="form" id="login-form" (ngSubmit)="login(loginForm)">
                        <!--<label for="email" style="color: #ff0000a1;"> {{message}} </label>-->
                        <div class="form-group my-0">
                            <input type="text" name="email" id="login" class="fadeIn second form-control input-fields"
                                placeholder="Email" required ngModel>
                        </div>
                        <div class="form-group my-0">
                            <input type="password" name="password" id="password" class="fadeIn third form-control input-fields"
                                placeholder="Password" required ngModel>
                        </div>
                        <button type="submit" class="btn btn-info btn-block mb-3"
                                id="submitButton" [disabled]='buttonStatus'> {{submitButton}}
                        </button>
                    </form>
                    <div class=" small text-muted">Powered by Dhwani Rural Information Systems Pvt. Ltd.</div>
                </div>              
            </div>
        </div>
    </div>
    <div class="set-logo">
        <div>
            <!-- <img  src="../../../assets/images/logo2.png" class = "img-responsive set-google"  /> -->
        </div>
<!-- 
        <div>
            <img src="../assets/images/tatatrusts.png" class="img-responsive set-tata-trust"/>
        </div> -->
    </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>
  