/*:host{
    flex-grow : 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box-body {
    background: #ffffff;
    width: 170%;
    padding: 15%;
    margin-top: 25%;
}
.login-box {
    margin-left: -15%;
}*/
/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */

/* BASIC */
html{
    height: 100%;
}
/* body {
    font-family: "Helvetica Neue", sans-serif;
} */

/* #submitButton {
    width: 85%;
    border: navajowhite;
    background-color: #679db1 !important;
    border-radius: 5px;
} */

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f8f8f8;
    margin: 0;
    overflow: hidden
}

/* .wrapper::before {
    background: #b86161;
    content: '';
    width: 100%;
    height: 200%;
    position: absolute;
    left: -50%;
    border-radius: 50%;
    box-shadow: 10px 10px 5px #aaaaaa36;
} */

#formContent {
    border-radius: 3px;
    width: 100%;
    position: relative;
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

/* input[type=button], input[type=submit], input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    cursor: pointer;
    padding: 2% 14%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} */

/* input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.common_input_style {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 7px 32px;
     text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
} */

/* input[type=text] , input[type=email], input[type=password] , select{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 7px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
} */

/* input[type=text]:focus, input[type=email] :focus, input[type=password] :focus, select :focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder, input[type=email] :placeholder, input[type=password] :placeholder {
    color: #cccccc;
} */

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    /*-webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;*/
    margin: auto;
    width: 50%;
    padding: 10px;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 100%;
}

* {
    box-sizing: border-box;
}

#poweredBy {
    color: #01111b;
    text-align: center;
    font-size: 1vw;
    margin-top: 6%;
    padding: 0%;
    border-radius: 6px;
    text-shadow: 0px 2px 6px #f0fbf9e3;
}

.wrapper.fadeInDown {
    /* background-image: url("../../../assets/images/background/1.jpg");
    */ /*background-color: white;*/
    /*background: linear-gradient(243deg, #222f2f 1%,#05abe0 91%);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
}

/* #formContent[_ngcontent-c2]{
  margin-bottom: 13%;
} */
/* #submitButton {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 4%;
    margin-top: 3%;
} */

.input-fields{
    border: none;
    border-bottom: 2px solid #ebebf1;
    border-radius: 0;
    color:#acacac;
}

#submitButton{
    background-color: #3ea8e7;
    color: white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/*Swiper*/
.swiper-container {
	width: 100%;
    height: 140vh;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 26px 26px 30px #aaaaaa52;
}

.center-form{
    display: inline-flex;
    justify-content: center;
    align-self: center;
}

#slide-img-1{
    background: url('../../../assets/images/dashboard.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-position-x: center;
}

#slide-img-2{
    background: url('../../../assets/images/login.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-position-x: center;
}

#slide-img-3{
    background: url('../../../assets/images/login2.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-position-x: center;
}

/* input fields */

.form-control:focus{
    color: #495057;
    background-color: #f8f9fa;
    border-color:#3ea8e76e;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(62, 168, 231, 0.2);
}