<div class="row">
  <div class="col-sm-12">
      <div  id = "ptc-header" class="col-sm-12">
          Change Password
      </div>
  </div>
</div>
<div class="container">
<div class="row">
<div class="col">
    <form [formGroup]="usersForm" (ngSubmit)="onSubmit(usersForm.value)">
        <div class="row">
            <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Current Password<i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                      <input type="password" formControlName="old_password" class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['old_password'].touched && usersForm.controls['old_password'].errors}">
                      <span *ngIf="usersForm.controls['old_password'].invalid && (usersForm.controls['old_password'].dirty || usersForm.controls['old_password'].touched)">
                          <p *ngIf="usersForm.controls['old_password'].errors.required" class="text-danger text-right">
                              Current Password is required.
                          </p>
                          <p *ngIf="usersForm.controls['old_password'].errors.whitespace && !usersForm.controls['old_password'].errors.required" class="text-danger text-right">
                              Blank spaces not allowed.
                          </p>
                      </span>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">New Password<i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['password'].touched && usersForm.controls['password'].errors}">
                        <span *ngIf="usersForm.controls['password'].invalid && (usersForm.controls['password'].dirty || usersForm.controls['password'].touched)">
                            <p *ngIf="usersForm.controls['password'].errors.required" class="text-danger text-right">
                                New Password is required.
                            </p>
                            <p *ngIf="usersForm.controls['password'].errors.whitespace && !usersForm.controls['password'].errors.required" class="text-danger text-right">
                                Blank spaces not allowed.
                            </p>
                        </span>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-control-label">Confirm Password<i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                        <input type="password" formControlName="new_password" class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['new_password'].touched && usersForm.controls['new_password'].errors}">
                        <span *ngIf="usersForm.controls['new_password'].invalid && (usersForm.controls['new_password'].dirty || usersForm.controls['new_password'].touched)">
                            <p *ngIf="usersForm.controls['new_password'].errors.required" class="text-danger text-right">
                                Confirm Password is required.
                            </p>
                            <p *ngIf="(usersForm.controls['new_password'].errors?.MatchPassword) && !usersForm.controls['new_password'].errors.required" class="text-danger text-right">
                                Confirm Password doesn't match.
                            </p>
                            <p *ngIf="usersForm.controls['new_password'].errors.whitespace && ( !usersForm.controls['new_password'].errors.required && !usersForm.controls['new_password'].errors?.MatchPassword)" class="text-danger text-right">
                                Blank spaces not allowed.
                            </p>
                        </span>
                    </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="!usersForm.valid"> Submit</button>
            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
        </div>
    </form>
</div>
</div>
</div>