
<div  [@routerAnimations]="outlet.isActivated ? outlet.activatedRoute: ''" >
        <router-outlet  #outlet="outlet"><ng2-toasty [position]="position"></ng2-toasty></router-outlet>
</div>
<!-- <but [routerLink] = "[./attach]" ></button> -->
     

