<div class="container-fluid pt-3">
<div class="row">
    <div class="col-sm-12">
        <div  id = "ptc-header" class="col-sm-12">
            <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
            {{farmData ? 'Update' : 'Create'}} Farm Bunding
        </div>
    </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col">
            <form [formGroup]="farmForm" (ngSubmit)="onSubmit(farmForm.value)">
                <div class="row">
                    <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="activityId" class="form-control" [ngClass]="{'form-control-danger': farmForm.controls['activityId'].touched && farmForm.controls['activityId'].errors}">
                                    <option value="{{activityId}}">Farm Bunding</option>
                                </select>
                                <span *ngIf="farmForm.controls['activityId'].invalid && (farmForm.controls['activityId'].dirty || farmForm.controls['activityId'].touched)">
                                        <p *ngIf="farmForm.controls['activityId'].errors.required" class="text-danger text-right">
                                            Activity Name is required.
                                        </p>
                                    </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': farmForm.controls['villageId'].touched && farmForm.controls['villageId'].errors}" (change)="getBeneficiary()">
                                    <option value="">Select Village</option>
                                    <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                </select>
                                <span *ngIf="farmForm.controls['villageId'].invalid && (farmForm.controls['villageId'].dirty || farmForm.controls['villageId'].touched)">
                                        <p *ngIf="farmForm.controls['villageId'].errors.required" class="text-danger text-right">
                                            Village Name is required.
                                        </p>
                                    </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Area <small>(in Acres)</small></label>
                                <input type="text"  formControlName="area" class="form-control" [ngClass]="{'form-control-danger': farmForm.controls['area'].touched && farmForm.controls['area'].errors}" (keyup)="onChanges()" (keypress)="check($event)" appBlockCopyPaste/>
                                <span *ngIf="farmForm.controls['area'].invalid && (farmForm.controls['area'].dirty || farmForm.controls['area'].touched)">
                                    <p *ngIf="farmForm.controls['area'].errors.required" class="text-danger text-right">
                                        Area is required.
                                    </p>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Water harvested <small>( in Kilo Litres)</small> </label>
                                <input type="text"  formControlName="waterHarvested" class="form-control" (keypress)="check($event)" readonly/>
                            </div> 
                    </div>
                    <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label">Activity Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <input type="date" class="unstyled" id="activity-date"  formControlName="activityDate" class="form-control" [ngClass]="{'form-control-danger': farmForm.controls['activityDate'].touched && farmForm.controls['activityDate'].errors}" (keydown)="$event.preventDefault()"/>
                                <span *ngIf="farmForm.controls['activityDate'].invalid && (farmForm.controls['activityDate'].dirty || farmForm.controls['activityDate'].touched)">
                                    <p *ngIf="farmForm.controls['activityDate'].errors.required" class="text-danger text-right">
                                        Date is required.
                                    </p>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Beneficiary Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i> &nbsp;<small>(If Beneficiary is not for this village <a style="color: blue" class="pointerView redirectLink" (click)="redirectToBeneficiary(this.farmForm.controls['villageId'].value)"> Click Here </a> to add Beneficiary)</small></label>
                                <!-- <select formControlName="beneficiaryId" class="form-control" [ngClass]="{'form-control-danger': ((farmForm.controls['beneficiaryId'].touched && farmForm.controls['beneficiaryId'].errors) || farmForm.controls['beneficiaryId'].value == '') && farmForm.controls['villageId'].touched }">
                                    <option value="">Select Beneficiary</option>
                                    <option *ngFor="let beneficiary of beneficiaries.data"  [value]="beneficiary._id">{{beneficiary.code}} - {{beneficiary.name}} - {{beneficiary.fatherName}}</option>
                                </select> -->
                                <angular2-multiselect 
                                        *ngIf="flag"
                                        [data]="dropdownList" 
                                        [settings]="dropdownSettings" 
                                        formControlName="beneficiaryId">
                                </angular2-multiselect>
                                <span *ngIf="farmForm.controls['beneficiaryId'].invalid && farmForm.controls['villageId'].touched ">
                                    <p *ngIf="farmForm.controls['beneficiaryId'].errors?.required " class="text-danger text-right">
                                        Beneficiary Name is required.
                                    </p>
                                </span>
                            </div> 
    
                            <div class="form-group">
                                <label class="form-control-label">Average Annual Rainfall <small>(in millimeters)</small></label>
                                <input type="text"  formControlName="averageAnnualRainfall" class="form-control" [ngClass]="{'form-control-danger': farmForm.controls['averageAnnualRainfall'].touched && farmForm.controls['averageAnnualRainfall'].errors}" (keyup)="onChanges()" (keypress)="check($event)" appBlockCopyPaste/>
                                <span *ngIf="farmForm.controls['averageAnnualRainfall'].invalid && (farmForm.controls['averageAnnualRainfall'].dirty || farmForm.controls['averageAnnualRainfall'].touched)">
                                    <p *ngIf="farmForm.controls['averageAnnualRainfall'].errors.required" class="text-danger text-right">
                                        Average Annual Rainfall is required.
                                    </p>
                                </span> 
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Length <small>(in Meters)</small></label>
                                <input type="text"  formControlName="length" class="form-control" [ngClass]="{'form-control-danger': farmForm.controls['length'].touched && farmForm.controls['length'].errors}" (keypress)="check($event)" appBlockCopyPaste/>
                                <span *ngIf="farmForm.controls['length'].invalid && (farmForm.controls['length'].dirty || farmForm.controls['length'].touched)">
                                    <p *ngIf="farmForm.controls['length'].errors.required" class="text-danger text-right">
                                        Length is required.
                                    </p>
                                </span>
                            </div>
                                
                                
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" [disabled]="!farmForm.valid"> Submit</button>
                    <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
</div>