a {
    color: #2E2E2E;
}
.nav-item.active{
    background: unset !important;
}

.nav-item.active:after{
    position: absolute;
    content: " ";
    width: 60%;
    border: 2px solid #42B3F5;
    border-radius: 15px;
    margin-left: 20%;
    bottom: 8%;
}
