<nav class="navbar navbar-expand-lg fixed-top shadow-sm py-0 nav-style">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/tap-logo-nav.png" alt="Tap India Logo" style="padding: 5%;width: 70%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li *ngFor="let item of menu_items" [routerLinkActive]="['active']" class="nav-item dropdown ">
    
                    <a *ngIf="item.type=='link'; else hasChildren" class="nav-link"
                        [routerLink]="['/'].concat(item.state.split('/'))" id="collapsedrop">{{item.name}}</a>
    
                    <ng-template #hasChildren>
                        <a class="nav-link  dropdown-toggle" href="#" id="collapsedrop" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{item.name}}
                        </a> 
                        <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
                            <li *ngFor="let child of item.subModule" class="position-relative dropdown-submenu">
                                <span *ngIf="child.subModule?.length == 0 else hasSubChildren">
                                    <a class="dropdown-item "
                                        [routerLink]="['',item.state, child.state]">{{child.name}}</a>
                                </span>
                                <ng-template #hasSubChildren>
                                    <a class="dropdown-item dropdown-submenu dropdown-toggle" href="javascript:void(0)">{{child.name}}</a>
                                    <ul class="dropdown-menu" [ngClass] = "subMenuRight  ? 'right' : ''">
                                        <li *ngFor="let tag of child.subModule">
                                            <a class="dropdown-item"
                                                [routerLink]="['',item.state, child.state, tag.state]">{{tag.name}}</a>
                                        </li>
                                    </ul>
                                </ng-template>
                            </li>
                        </ul>
                    </ng-template>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" title="Log out" data-backdrop="static" data-keyboard="false"
                        data-toggle="modal" data-target="#myLogoutModal">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
</nav>
<section style="margin-top: 3%;">
    <app-title></app-title>
    <app-breadcrumbs></app-breadcrumbs>
    <router-outlet>
    </router-outlet>
</section>
    
<div id="myLogoutModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #56573c0a; border-bottom: none;">
                <p class="mb-0" style="margin-left:39%">LOGOUT</p></div>
            <div class="modal-body" style="text-align:center;padding: 22px 0px 0px;">
                <h6>Are you sure you want to log out?</h6>
            </div>
            <div class="modal-footer" style="justify-content:  center;">
                <button type="button" class="btn btn-outline-info btn-mini" (click)="logout()"><i
                        class="fas fa-check"></i>

                    Yes
                </button>
                <button type="button" class="btn btn-outline-secondary btn-mini" data-dismiss="modal"><i
                        class="fas fa-times"></i> No
                </button>
            </div>
        </div>
    </div>
</div>