 <!-- The Modal -->
 <div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete <i class="fas fa-exclamation-circle"></i></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to DELETE ?
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn-mini btn-danger" data-dismiss="modal" (click)="delete()">YES</button>
        <button type="button" class="btn-mini btn-success" data-dismiss="modal">NO</button>
      </div>
      
    </div>
  </div>
</div>