<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{villageData ? 'Update' : 'Create'}} Village
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="villageForm" (ngSubmit)="onSubmit(villageForm.value)" (keydown.enter)="$event.preventDefault()">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-label">Block Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="blockId" class="form-control" [ngClass]="{'form-control-danger': villageForm.controls['blockId'].touched && villageForm.controls['blockId'].errors}">
                                        <option value="">Select Block</option>
                                        <option *ngFor="let block of blocks.data"  [value]="block._id">{{block.name}}</option>
                                    </select>
                                    <span *ngIf="villageForm.controls['blockId'].invalid && (villageForm.controls['blockId'].dirty || villageForm.controls['blockId'].touched)">
                                        <p *ngIf="villageForm.controls['blockId'].errors.required" class="text-danger text-right">
                                            Block Name is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{'form-control-danger': villageForm.controls['name'].touched && villageForm.controls['name'].errors}" />
                                    <span *ngIf="villageForm.controls['name'].invalid && (villageForm.controls['name'].dirty || villageForm.controls['name'].touched)">
                                        <p *ngIf="villageForm.controls['name'].errors.required" class="text-danger text-right">
                                            Village Name is required.
                                        </p>
                                        <p *ngIf="villageForm.controls['name'].errors.whitespace && !villageForm.controls['name'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Village Type <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="type" class="form-control" [ngClass]="{'form-control-danger': villageForm.controls['type'].touched && villageForm.controls['type'].errors}">
                                        <option value="">Select Village Intervention</option>
                                        <option value="Intervention">Intervention</option>
                                        <option value="Non Intervention">Non-Intervention </option>
                                    </select>
                                    <span *ngIf="villageForm.controls['type'].invalid && (villageForm.controls['type'].dirty || villageForm.controls['type'].touched)">
                                        <p *ngIf="villageForm.controls['type'].errors.required" class="text-danger text-right">
                                            Village Type is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Village Code <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="code" class="form-control" [ngClass]="{'form-control-danger': villageForm.controls['code'].touched && villageForm.controls['code'].errors}" />
                                    <span *ngIf="villageForm.controls['code'].invalid && (villageForm.controls['code'].dirty || villageForm.controls['code'].touched)">
                                        <p *ngIf="villageForm.controls['code'].errors.required" class="text-danger text-right">
                                            Village Code is required.
                                        </p>
                                        <p *ngIf="villageForm.controls['code'].errors.whitespace && !villageForm.controls['code'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                                
                                <!-- google search box -->
                                <div class="form-group">
                                    <label class="form-control-label">Search Location</label>
                                    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" [formControl]="searchControl" #search>
                                </div>
                                <!-- google map  -->
                                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
                                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                                </agm-map>
                                <div class="form-group">
                                    <label class="form-control-label">Latitude </label>
                                    <input type="text"  formControlName="latitude" class="form-control" [ngClass]="{'form-control-danger': villageForm.controls['latitude'].touched && villageForm.controls['latitude'].errors}" readonly/>
                                    <span *ngIf="villageForm.controls['latitude'].invalid && (villageForm.controls['latitude'].dirty || villageForm.controls['latitude'].touched)">
                                        <p *ngIf="villageForm.controls['latitude'].errors.required" class="text-danger text-right">
                                            Latitude is required.
                                        </p>
                                    </span>
                                </div>
                            
                                <div class="form-group">
                                    <label class="form-control-label">Longitude</label>
                                    <input type="text"  formControlName="longitude" class="form-control" [ngClass]="{'form-control-danger': villageForm.controls['longitude'].touched && villageForm.controls['longitude'].errors}" readonly/>
                                    <span *ngIf="villageForm.controls['longitude'].invalid && (villageForm.controls['longitude'].dirty || villageForm.controls['longitude'].touched)">
                                        <p *ngIf="villageForm.controls['longitude'].errors.required" class="text-danger text-right">
                                            Longitude is required.
                                        </p>
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!villageForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>