<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{activityData ? 'Update' : 'Create'}} Activity
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="activityForm" (ngSubmit)="onSubmit(activityForm.value)">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{'form-control-danger': activityForm.controls['name'].touched && activityForm.controls['name'].errors}" />
                                    <span *ngIf="activityForm.controls['name'].invalid && (activityForm.controls['name'].dirty || activityForm.controls['name'].touched)">
                                        <p *ngIf="activityForm.controls['name'].errors.required" class="text-danger text-right">
                                            Activity Name is required.
                                        </p>
                                        <p *ngIf="activityForm.controls['name'].errors.whitespace && !activityForm.controls['name'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Activity Code <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="code" class="form-control" [ngClass]="{'form-control-danger': activityForm.controls['code'].touched && activityForm.controls['code'].errors}" />
                                    <span *ngIf="activityForm.controls['code'].invalid && (activityForm.controls['code'].dirty || activityForm.controls['code'].touched)">
                                        <p *ngIf="activityForm.controls['code'].errors.required" class="text-danger text-right">
                                            Activity Code is required.
                                        </p>
                                        <p *ngIf="activityForm.controls['code'].errors.whitespace && !activityForm.controls['code'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!activityForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>