<div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{userData ? 'Update' : 'Create'}} User
            </div>
        </div>
      </div>
      <div class="container">
      <div class="row">
      <div class="col">
          <form [formGroup]="usersForm" (ngSubmit)="onSubmit(usersForm.value)">
              <div class="row">
                  <div class="col-6">
                          <div class="form-group">
                              <label class="form-control-label">First Name<i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                              <input type="text" formControlName="first_name" class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['first_name'].touched && usersForm.controls['first_name'].errors}" autocomplete="new-password">
                              <span *ngIf="usersForm.controls['first_name'].invalid && (usersForm.controls['first_name'].dirty || usersForm.controls['first_name'].touched)">
                                  <p *ngIf="usersForm.controls['first_name'].errors.required" class="text-danger text-right">
                                      First Name is required.
                                  </p>
                                  <p *ngIf="usersForm.controls['first_name'].errors.whitespace && !usersForm.controls['first_name'].errors.required" class="text-danger text-right">
                                      Blank spaces not allowed.
                                  </p>
                              </span>
                          </div>
                          
                          <div class="form-group">
                              <label class="form-control-label">Mobile Number</label>
                              <input type="text"  formControlName="mobile"  class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['mobile'].touched && usersForm.controls['mobile'].errors}" (keypress)="check($event)" appBlockCopyPaste />
                              <span *ngIf="usersForm.controls['mobile'].invalid && (usersForm.controls['mobile'].dirty || usersForm.controls['mobile'].touched)">
                                  <p *ngIf="usersForm.controls['mobile'].errors.required" class="text-danger text-right">
                                      Mobile Number is required.
                                  </p>
                                  <p *ngIf="usersForm.controls['mobile'].errors.invalidNumber && !usersForm.controls['mobile'].errors.required" class="text-danger text-right">
                                      Mobile Number is not valid.
                                  </p>
                              </span>
                          </div>
                          
                          <div class="form-group">
                              <label class="form-control-label">Password<i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                              <input type="password" formControlName="password" class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['password'].touched && usersForm.controls['password'].errors}" autocomplete="new-password">
                              <span *ngIf="usersForm.controls['password'].invalid && (usersForm.controls['password'].dirty || usersForm.controls['password'].touched)">
                                  <p *ngIf="usersForm.controls['password'].errors.required" class="text-danger text-right">
                                      Password is required.
                                  </p>
                                  <p *ngIf="usersForm.controls['password'].errors.whitespace && !usersForm.controls['password'].errors.required" class="text-danger text-right">
                                      Blank spaces not allowed.
                                  </p>
                              </span>
                          </div>
                          
                          <div class="form-group">
                              <label class="form-control-label">User Level<i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                              <select formControlName="userLevelId" class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['userLevelId'].touched && usersForm.controls['userLevelId'].errors}">
                                  <option value="">Select User Level</option>
                                  <option *ngFor="let level of userLevel.data"  [value]="level._id">{{level.name}}</option>
                              </select>
                              <span *ngIf="usersForm.controls['userLevelId'].invalid && (usersForm.controls['userLevelId'].dirty || usersForm.controls['userLevelId'].touched)">
                                  <p *ngIf="usersForm.controls['userLevelId'].errors.required" class="text-danger text-right">
                                      User Level is required.
                                  </p>
                              </span>
                          </div>
                          
                  </div>
                  <div class="col-6">
                          <div class="form-group">
                              <label class="form-control-label">Last Name<i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                              <input type="text" formControlName="last_name" class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['last_name'].touched && usersForm.controls['last_name'].errors}" autocomplete="new-password">
                              <span *ngIf="usersForm.controls['last_name'].invalid && (usersForm.controls['last_name'].dirty || usersForm.controls['last_name'].touched)">
                                  <p *ngIf="usersForm.controls['last_name'].errors.required" class="text-danger text-right">
                                      Last Name is required.
                                  </p>
                                  <p *ngIf="usersForm.controls['last_name'].errors.whitespace && !usersForm.controls['last_name'].errors.required" class="text-danger text-right">
                                      Blank spaces not allowed.
                                  </p>
                              </span>
                          </div>
                        
                        <div class="form-group">
                            <label class="form-control-label">Email<i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                            <input type="email" formControlName="email" class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['email'].touched && usersForm.controls['email'].errors}">
                            <span *ngIf="usersForm.controls['email'].invalid && (usersForm.controls['email'].dirty || usersForm.controls['email'].touched)">
                              <p *ngIf="usersForm.controls['email'].errors.required" class="text-danger text-right">
                                  Email is required.
                              </p>
                              <p *ngIf="usersForm.controls['email'].errors.invalidEmail && (!usersForm.controls['email'].errors.required && !usersForm.controls['email'].errors.whitespace)" class="text-danger text-right">
                                  Email is invalid.
                              </p>
                          </span>
                        </div>
      
                        <div class="form-group">
                          <label class="form-control-label">Confirm Password<i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                          <input type="password" formControlName="confirm_password" class="form-control" [ngClass]="{'form-control-danger': usersForm.controls['confirm_password'].touched && usersForm.controls['confirm_password'].errors}" autocomplete="new-password">
                          <span *ngIf="usersForm.controls['confirm_password'].invalid && (usersForm.controls['confirm_password'].dirty || usersForm.controls['confirm_password'].touched)">
                              <p *ngIf="usersForm.controls['confirm_password'].errors.required" class="text-danger text-right">
                                  Confirm Password is required.
                              </p>
                              <p *ngIf="(usersForm.controls['confirm_password'].errors?.MatchPassword) && !usersForm.controls['confirm_password'].errors.required" class="text-danger text-right">
                                  Confirm Password doesn't match.
                              </p>
                              <p *ngIf="usersForm.controls['confirm_password'].errors.whitespace && ( !usersForm.controls['confirm_password'].errors.required && !usersForm.controls['confirm_password'].errors?.MatchPassword)" class="text-danger text-right">
                                  Blank spaces not allowed.
                              </p>
                          </span>
                        </div>
                        
                        <div class="form-group">
                            <label class="form-control-label">Assign Villages</label>
                           <angular2-multiselect [data]="villages"
                                                  [settings]="dropdownSettings" 
                                                  formControlName="villages" >
                            </angular2-multiselect>
                            <span *ngIf="usersForm.controls['villages'].invalid && (usersForm.controls['villages'].dirty || usersForm.controls['villages'].touched)">
                              <p *ngIf="usersForm.controls['villages'].errors.required" class="text-danger text-right">
                                  Please Assign Villages.
                              </p>
                           </span>
                        </div>
                        
                  </div>
              </div>
              <div class="form-group">
                  <button class="btn btn-primary" type="submit" [disabled]="!usersForm.valid"> Submit</button>
                  <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
              </div>
          </form>
      </div>
      </div>
      </div>