.text-muted-white{
    color: rgba(255, 255, 255, .8)
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { display: none; }
.element { display: none; }
.element { display: none; }

#drop:focus{
    box-shadow: unset;
}

.main-div{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

h2 {
    padding-bottom: 3%;
    text-align: unset;
    font-size: 30px;
    font-weight: unset;
    text-transform: unset;
    display: unset;
    margin: unset;
    color: unset;
}

h2:after {
    position: absolute;
    content: " ";
    display: block;
    width: 6.5%;
    border: 2px solid #42B3F5;
    border-radius: 15px;
}

.stories{
    background: white;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 3%;
}

p {
    text-align: justify;
    padding-top: 2%;
}

span {
    color: #989898;
}

.img-story-col {
    display: inline-flex;
    align-items: center;
}

.img-inside-col {
    justify-content: center;
    align-content: center;
    display: inline-flex;
}

.img-inside-col > img {
    width: 85%;
    height: auto;
}

