<!-- <section class="bg-primary py-3 mt-n1">
  <div class="container">
    <div class="bg-white p-3 shadow-lg mb-3 rounded">
      <div class="row align-items-center ">
        <div class="col-sm-2">
          <img src="../../../assets/images/bayer1.png"  alt="sehgal" class="img-fluid">
        </div>
        <div class="col-sm-8 text-center">
          <h3>Gram Unnati</h3>
          <p class="">Unnati is a joint initiative of <a class="pointer-view" href="http://www.bayer-foundations.com/"
              target="blank">BAYER Crop Science Foundation</a> and <a href="http://www.smsfoundation.org/" target="blank">Sehgal
              Foundation</a></p>
        </div>
        <div class="col-sm-2">
          <img src="../../../assets/images/sehgal.png"  alt="sehgal" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-n5">
  <div class="container mt-4">
    <div class="row my-3 pt-4" style="margin-top: 6% !important;">
      <div class="col-12 text-center ">
        <h6 class="text-uppercase text-dark font-weight-bold">
            OBJECTIVE
        </h6>
        <p class="text-muted">
            Improve productivity of Pearl Millet crop, conserve water and build capacities of farmers.
        </p>
        <h6 class="text-uppercase text-dark font-weight-bold">
            MISSION
        </h6>
        <p class="text-muted">
            To improve livelihoods of farmers to help them move out of poverty and achieve greater food security.
        </p>

        <h6 class="text-uppercase text-dark font-weight-bold">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">THEMATIC AREAS</button>
        </h6>
        <div id="demo" class="collapse">
            <div class="row">
              <div class="col-sm-4">
                <div class="card bg-light shadow">
                  <div class="card-header bg-dark text-white">
                    AGRICULTURE
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item py-2">Composting</li>
                    <li class="list-group-item py-2">Demonstration of Crop specific POP</li>
                    <li class="list-group-item py-2">Horticulture</li>
                    <li class="list-group-item py-2">Promotion of Solar Spray Pumps</li>
                    <li class="list-group-item py-2">Soil Testing</li>
                  
                  </ul>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card bg-light shadow">
                  <div class="card-header bg-dark text-white">
                    CAPACITY BUILDING
                  </div>
                  <ul class="list-group list-group-flush">
                      <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header py-0" id="headingOne" style="background-color:white">
                            <h5 class="mb-0">
                              <button class="btn" type="button" id="drop" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Training and Exposure Visits<br>
                                <i class="fas fa-chevron-down"></i>
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body card-body px-0 py-1">
                                <li class="list-group-item py-2">Exposure visit</li>  
                                <li class="list-group-item py-2">Farmer Trainings</li>
                                <li class="list-group-item py-2">Field Days</li>
                            </div>
                          </div>
                        </div>
                      </div>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card bg-light shadow">
                  <div class="card-header bg-dark text-white">
                    WATER
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item py-2">Farm pond</li>
                    <li class="list-group-item py-2">Farm Bunding</li>
                    <li class="list-group-item py-2">Pond rejuvenation</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <footer class="blockquote-footer"><b>Disclaimer:</b> <cite title="Source Title">This document has been created for the exclusive use of PROJECT Gram Unnati.
          The contents of this document cannot, except with Sehgal Foundation and BAYER Crop Science Foundation. expressed written
          permission, be distributed or exploited in any manner. For Limited Circulation only.</cite></footer>
    </div>
  </div>
</section> -->

<div class="container-fluid main-div">
  <div class="row">
    <h2>Impact Stories</h2>
  </div>

  <div class="row stories" *ngFor='let story of stories | paginate: { id:"foo", itemsPerPage: limit, currentPage: page, totalItems: totalCount }; index as i'>
    <div class="col-8">
      <h4>{{story.title}}</h4>
      <span>{{story.date}}</span>
      <p>{{story.content}}</p>
    </div>
    <div class="col-4 img-story-col">
      <div class="img-fluid img-inside-col">
        <img src="../../../assets/images/story.png" alt="Story">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <pagination-controls id="foo"
        (pageChange)="setPage($event)"
        directionLinks="true"
        autoHide="true"
        previousLabel="Prev"
        nextLabel="Next">
      </pagination-controls>
    </div>
  </div>


</div>