<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{value != 'create' ? 'Update' : 'Create'}} Capacity Building
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="capacityForm" (ngSubmit)="onSubmit(capacityForm.value)">
                        <div class="row">
                            <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="activityId" class="form-control">
                                            <option value="{{activityId}}" selected>Training And Exposure Visit</option>
                                        </select>
                                    </div>
                                    <!-- <span *ngIf="capacityForm.controls['activityId'].invalid && (capacityForm.controls['activityId'].dirty || capacityForm.controls['activityId'].touched)">
                                        <p *ngIf="capacityForm.controls['activityId'].errors.required" class="text-danger text-right">
                                            Activity Name is required.
                                        </p>
                                    </span> -->
                                    <div class="form-group">
                                        <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': capacityForm.controls['villageId'].touched && capacityForm.controls['villageId'].errors}" (change)="getBeneficiary()">
                                            <option value="">Select Village</option>
                                            <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                        </select>
                                        <span *ngIf="capacityForm.controls['villageId'].invalid && (capacityForm.controls['villageId'].dirty || capacityForm.controls['villageId'].touched)">
                                            <p *ngIf="capacityForm.controls['villageId'].errors.required" class="text-danger text-right">
                                                Village Name is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Topic Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                        <select formControlName="cbtopicId" class="form-control" [ngClass]="{'form-control-danger': capacityForm.controls['cbtopicId'].touched && capacityForm.controls['cbtopicId'].errors}">
                                            <option value="">Select Topic</option>
                                            <option *ngFor="let topic of topics.data"  [value]="topic.cbTopicData._id">{{topic.cbTopicData.name}}</option>
                                        </select>
                                        <span *ngIf="capacityForm.controls['cbtopicId'].invalid && (capacityForm.controls['cbtopicId'].dirty || capacityForm.controls['cbtopicId'].touched)">
                                            <p *ngIf="capacityForm.controls['cbtopicId'].errors.required" class="text-danger text-right">
                                                Topic Name is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">Activity Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="activity-date"  formControlName="activityDate" class="form-control" [ngClass]="{'form-control-danger': capacityForm.controls['activityDate'].touched && capacityForm.controls['activityDate'].errors}" readonly (keydown)="$event.preventDefault()"/>
                                    <span *ngIf="capacityForm.controls['activityDate'].invalid && (capacityForm.controls['activityDate'].dirty || capacityForm.controls['activityDate'].touched)">
                                        <p *ngIf="capacityForm.controls['activityDate'].errors.required" class="text-danger text-right">
                                            Date is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Beneficiary Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i> &nbsp;<small>(If Beneficiary is not for this village <a style="color: blue" class="pointerView redirectLink" (click)="redirectToBeneficiary(this.capacityForm.controls['villageId'].value)"> Click Here </a> to add Beneficiary)</small></label>
                                    <!-- <select formControlName="beneficiaryId" class="form-control" [ngClass]="{'form-control-danger': ((capacityForm.controls['beneficiaryId'].touched && capacityForm.controls['beneficiaryId'].errors) || capacityForm.controls['beneficiaryId'].value == '') && capacityForm.controls['villageId'].touched }">
                                        <option value="">Select Beneficiary</option>
                                        <option *ngFor="let beneficiary of beneficiaries.data"  [value]="beneficiary._id">{{beneficiary.code}} - {{beneficiary.name}} - {{beneficiary.fatherName}}</option>
                                    </select> -->
                                    <angular2-multiselect 
                                            *ngIf="flag"
                                            [data]="dropdownList" 
                                            [settings]="dropdownSettings" 
                                            formControlName="beneficiaryId">
                                    </angular2-multiselect>
                                    <span *ngIf="capacityForm.controls['beneficiaryId'].invalid && capacityForm.controls['villageId'].touched ">
                                        <p *ngIf="capacityForm.controls['beneficiaryId'].errors?.required " class="text-danger text-right">
                                            Beneficiary Name is required.
                                        </p>
                                    </span>
                                </div>
        
                                <input type="text" value="{{trainId}}" formControlName="trainingAndExposureVisitId" [hidden]="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!capacityForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
