<div id="pt-main" class="pt-perspective">
  <div class="row">
      <div class="col-sm-12">
          <div  id = "ptc-header" class="col-sm-12">
              <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
              Soil Testing
          </div>
      </div>
  </div>
  
  <div class="container">
      <div class="btn-group mb-2" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo(soilData,'edit')"><i class="far fa-edit"></i> Update</button>
          <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(soilData._id)"><i class="far fa-trash-alt"></i> Delete</button>
      </div>
      <div class="row">
          <div class="col">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Id</th>
                    <td class="text-left">{{soilData?._id}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Name</th>
                    <td class="text-left">{{soilData?.activityData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Beneficiary Name</th>
                    <td class="text-left">{{soilData?.beneficiaryData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Village Name</th>
                    <td class="text-left">{{soilData?.villageData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Date</th>
                    <td class="text-left">{{soilData?.activityDate |  date: 'd-M-yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Soil Type</th>
                    <td class="text-left">{{soilData?.soilType}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Ec Value</th>
                    <td>{{soilData?.ecValue}}</td>
                  </tr>
                  <tr>
                    <th scope="row">N Value</th>
                    <td>{{soilData?.nValue}}</td>
                  </tr>
                  <tr>
                    <th scope="row">P Value	</th>
                    <td>{{soilData?.pValue}}</td>
                  </tr>

                  <tr>
                    <th scope="row">K Value</th>
                    <td>{{soilData?.kValue}}</td>
                  </tr>
                  <tr>
                      <th scope="row">Zn Value</th>
                      <td>{{soilData?.znValue}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Fe Value</th>
                    <td>{{soilData?.feValue}}</td>
                  </tr>
                  <tr>
                      <th scope="row">S Value</th>
                      <td>{{soilData?.sValue}}</td>
                  </tr>
                  <tr>
                      <th scope="row">Organic Carbon Value</th>
                      <td>{{soilData?.orgcValue}}</td>
                  </tr>
                  <tr>
                    <th scope="row">B Value</th>
                    <td>{{soilData?.bValue}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Ca Value</th>
                    <td>{{soilData?.caValue}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mn Value</th>
                    <td>{{soilData?.mnValue}}</td>
                  </tr>
                  <tr>
                    <th scope="row">pH Value</th>
                    <td>{{soilData?.phValue}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Farmer aware of soil nutrient requirements ?</th>
                    <td>{{soilData?.farmerAware}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Date Of Sample Collection</th>
                    <td>{{soilData?.dateSampleCollection |  date: 'd-M-yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Date Of Sample Tested</th>
                    <td>{{soilData?.dateSampleTested |  date: 'd-M-yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Created At</th>
                    <td class="text-left">{{soilData?.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Modified At</th>
                    <td class="text-left">{{soilData?.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>


