<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-8">
            <div id = "ptc-header" class="col-sm-12">
            Variety
            </div>
        </div>
        <div class="col-sm-4 text-right">
                <button class="btn btn-outline-dark mr-3" type="button" (click)="exportCSV()">Export CSV</button>
                <button [routerLink]="['../../../form']" title="Add New Variety" class="btn btn-primary">
                    CREATE
                </button>
        </div>
    </div>
    <div class="card">
    <div class="card-body contact-details">
        <div class="lds-ellipsis" id = "loader"><div></div><div></div><div></div><div></div></div>
        <table id="varietyTable" *ngIf="tableHideShowStatus" class="table table-striped" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Sr No.</th>
                    <th>Crop Name</th>
                    <th>Variety</th>
                    <th>Created At</th>
                    <th>Modified At</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let data of variety.data; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{data.cropId.name}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.createdAt|  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    <td>{{data.modifiedAt| date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    <td class="text-right">
                        <div class="dropdown">
                            <button class="btn btn-default" type="button" [id]="'dropdownMenuButton' + i" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton' + i">
                                <a  class="dropdown-item cursor-hand" (click)="redirectTo(data,'view')">View Details</a>
                                <a  class="dropdown-item cursor-hand" (click)="redirectTo(data, 'edit')">Modify</a>
                                <a  class="dropdown-item cursor-hand" data-toggle="modal" data-backdrop=""  data-target="#myModal"
                                (click)="delete(data._id)">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>
