<div id="pt-main" class="pt-perspective">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                District Details
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="btn-group mb-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo('', 'edit')"><i class="far fa-edit"></i> Update</button>
            <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(districtData._id)"><i class="far fa-trash-alt"></i> Delete</button>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th scope="row">Id</th>
                      <td class="text-left">{{districtData._id}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Name</th>
                      <td class="text-left">{{districtData.name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Created At</th>
                      <td class="text-left">{{districtData.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Modified At</th>
                      <td *ngIf="districtData.modifiedAt != null" class="text-left">{{districtData.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                      <td *ngIf="districtData.modifiedAt == null" class="text-left">(Not Set)</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>


