<div id="pt-main" class="pt-perspective">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                Users
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="btn-group mb-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo('', 'edit')"><i class="far fa-edit"></i> Update</button>
            <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(userData._id)"><i class="far fa-trash-alt"></i> Delete</button>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th scope="row">Id</th>
                      <td class="text-left">{{userData?._id}}</td>
                    </tr>
                    <tr>
                      <th scope="row">User Name</th>
                      <td class="text-left">{{userData?.first_name}} {{userData?.last_name}}</td>
                    </tr>
                    <!-- <tr>
                      <th scope="row">First Name</th>
                      <td class="text-left">{{userData?.first_name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Last Name</th>
                      <td class="text-left">{{userData?.last_name}}</td>
                    </tr> -->
                    <tr>
                      <th scope="row">Email</th>
                      <td class="text-left">{{userData?.email}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Password</th>
                      <td class="text-left">{{userData?.password}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Level Access</th>
                      <td class="text-left">{{userData?.userLevelId.name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Assigned Villages</th>
                      <td class="text-left">{{villages}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Created At</th>
                      <td class="text-left">{{userData?.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Modified At</th>
                      <td class="text-left">{{userData?.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  
  <app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>
  
  
  