<div id="pt-main" class="pt-perspective">
  <div class="row">
      <div class="col-sm-12">
          <div  id = "ptc-header" class="col-sm-12">
              <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
              Horticulture
          </div>
      </div>
  </div>
  
  <div class="container">
      <div class="btn-group mb-2" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success btn-mini" (click) = "redirectTo(hortiData, 'edit')"><i class="far fa-edit"></i> Update</button>
          <button type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-backdrop=""  data-target="#myModal" (click)="delete(hortiData._id)"><i class="far fa-trash-alt"></i> Delete</button>
      </div>
      <div class="row">
          <div class="col">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Id</th>
                    <td class="text-left">{{hortiData?._id}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Name</th>
                    <td class="text-left">{{hortiData?.activityData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Beneficiary Name</th>
                    <td class="text-left">{{hortiData?.beneficiaryData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Village Name</th>
                    <td class="text-left">{{hortiData?.villageData.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Activity Date</th>
                    <td class="text-left">{{hortiData?.activityDate |  date: 'd-M-yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row"> Area (In Acres)</th>
                    <td class="text-left">{{hortiData?.area}}</td>
                  </tr>
                  <tr>
                    <th scope="row">No Of Plants</th>
                    <td class="text-left">{{hortiData?.numOfPlant}}</td>
                  </tr>
                  <tr>
                    <th scope="row"> Irrigation method</th>
                    <td class="text-left">{{hortiData?.irrigationMethod}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Created At</th>
                    <td class="text-left">{{hortiData?.createdAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Modified At</th>
                    <td class="text-left">{{hortiData?.modifiedAt |  date: 'd-M-yyyy, h:mm:ss a'}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<app-popup [endpoint]="delete_id" (status)="showDeleteStatus($event)"></app-popup>


