<div class="container-fluid pt-3">
<div class="row">
    <div class="col-sm-12">
        <div  id = "ptc-header" class="col-sm-12">
            <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
            {{farmPondData ? 'Update' : 'Create'}} Farm Pond
        </div>
    </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col">
            <form [formGroup]="farmPondForm" (ngSubmit)="onSubmit(farmPondForm.value)">
                <div class="row">
                    <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="activityId" class="form-control" [ngClass]="{'form-control-danger': farmPondForm.controls['activityId'].touched && farmPondForm.controls['activityId'].errors}">
                                    <option value="{{activityId}}">Farm Pond</option>
                                </select>
                                <span *ngIf="farmPondForm.controls['activityId'].invalid && (farmPondForm.controls['activityId'].dirty || farmPondForm.controls['activityId'].touched)">
                                        <p *ngIf="farmPondForm.controls['activityId'].errors.required" class="text-danger text-right">
                                            Activity Name is required.
                                        </p>
                                    </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': farmPondForm.controls['villageId'].touched && farmPondForm.controls['villageId'].errors}" (change)="getBeneficiary()">
                                    <option value="">Select Village</option>
                                    <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                </select>
                                <span *ngIf="farmPondForm.controls['villageId'].invalid && (farmPondForm.controls['villageId'].dirty || farmPondForm.controls['villageId'].touched)">
                                        <p *ngIf="farmPondForm.controls['villageId'].errors.required" class="text-danger text-right">
                                            Village Name is required.
                                        </p>
                                    </span>
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Length of pond <small>(in Meters)</small></label>
                                        <input type="text"  formControlName="areaUnderFarmPondL" class="form-control" (keyup)="onChanges()" (keypress)="check($event)" appBlockCopyPaste/>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Width of pond <small>(in Meters)</small></label>
                                        <input type="text"  formControlName="areaUnderFarmPondW" class="form-control" (keyup)="onChanges()" (keypress)="check($event)" appBlockCopyPaste/>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Depth of pond <small>(in Meters)</small></label>
                                        <input type="text"  formControlName="areaUnderFarmPondD" class="form-control" (keyup)="onChanges()" (keypress)="check($event)" appBlockCopyPaste/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Crop Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="cropId" class="form-control" [ngClass]="{'form-control-danger': farmPondForm.controls['cropId'].touched && farmPondForm.controls['cropId'].errors}">
                                    <option value="">Select Crop</option>
                                    <option *ngFor="let crop of crops.data"  [value]="crop._id">{{crop.name}}</option>
                                </select>
                                <span *ngIf="farmPondForm.controls['cropId'].invalid && (farmPondForm.controls['cropId'].dirty || farmPondForm.controls['cropId'].touched)">
                                    <p *ngIf="farmPondForm.controls['cropId'].errors.required" class="text-danger text-right">
                                        Crop Name is required.
                                    </p>
                                </span>
                            </div>
                            
                    </div>
                    <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label">Activity Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <input type="date" class="unstyled" id="activity-date"  formControlName="activityDate" class="form-control" [ngClass]="{'form-control-danger': farmPondForm.controls['activityDate'].touched && farmPondForm.controls['activityDate'].errors}" (keydown)="$event.preventDefault()"/>
                                <span *ngIf="farmPondForm.controls['activityDate'].invalid && (farmPondForm.controls['activityDate'].dirty || farmPondForm.controls['activityDate'].touched)">
                                    <p *ngIf="farmPondForm.controls['activityDate'].errors.required" class="text-danger text-right">
                                        Date is required.
                                    </p>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Beneficiary Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i> &nbsp;<small>(If Beneficiary is not for this village <a style="color: blue" class="pointerView redirectLink" (click)="redirectToBeneficiary(this.farmPondForm.controls['villageId'].value)"> Click Here </a> to add Beneficiary)</small></label>
                                <!-- <select formControlName="beneficiaryId" class="form-control" [ngClass]="{'form-control-danger': ((farmPondForm.controls['beneficiaryId'].touched && farmPondForm.controls['beneficiaryId'].errors) || farmPondForm.controls['beneficiaryId'].value == '') && farmPondForm.controls['villageId'].touched }">
                                    <option value="">Select Beneficiary</option>
                                    <option *ngFor="let beneficiary of beneficiaries.data"  [value]="beneficiary._id">{{beneficiary.code}} - {{beneficiary.name}} - {{beneficiary.fatherName}}</option>
                                </select> -->
                                <angular2-multiselect 
                                        *ngIf="flag"
                                        [data]="dropdownList" 
                                        [settings]="dropdownSettings" 
                                        formControlName="beneficiaryId">
                                </angular2-multiselect>
                                <span *ngIf="farmPondForm.controls['beneficiaryId'].invalid && farmPondForm.controls['villageId'].touched ">
                                    <p *ngIf="farmPondForm.controls['beneficiaryId'].errors?.required " class="text-danger text-right">
                                        Beneficiary Name is required.
                                    </p>
                                </span>
                            </div> 
                            
                            <div class="form-group">
                                <label class="form-control-label">Area under farm pond <small>(in Cubic Meters)</small></label>
                                <input type="text"  formControlName="areaUnderFarmPond" class="form-control" [ngClass]="{'form-control-danger': farmPondForm.controls['areaUnderFarmPond'].touched && farmPondForm.controls['areaUnderFarmPond'].errors}" [readOnly]="true"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Water storage capacity <small>(in Kilo Litres)</small></label>
                                <input type="text"  formControlName="WaterStorageCapacity" class="form-control" [ngClass]="{'form-control-danger': farmPondForm.controls['WaterStorageCapacity'].touched && farmPondForm.controls['WaterStorageCapacity'].errors}" [readOnly]="true"/>
                            </div>
                                
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" [disabled]="!farmPondForm.valid"> Submit</button>
                    <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
</div>