<div class="container-fluid pt-3">
  <div class="row mb-2">
    <div class="col-sm-8">
        <div id = "ptc-header" class="col-sm-12">
          User Levels Role
        </div>
    </div>
  </div>
  <div class="card" *ngIf="tableHideShowStatus">
    <div class="card-body">
      <div class="row" [hidden]= "viewStatus">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-12">
                <label class="text-color-grey">Level Name</label>
                <br>
                <input type="text"  class="form-control" [(ngModel)] = "levelName"/>
              </div>
            </div>
          </div>  
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="lds-ellipsis" id = "loader"><div></div><div></div><div></div><div></div></div>
      <div class="row mt-2" *ngIf="tableHideShowStatus">
          <div class="table-responsive">
            <table class="table" data-toggle="table" >
                <thead  class="text-color-grey" id="table-header">
                  <th>Module/Sub Module</th>
                  <th>Create</th>
                  <th>Update</th>
                  <th>Index</th>
                  <th>Delete</th>
                  <th>View</th>
                  <th>Download</th>
                </thead>
                <!-- <tbody> -->
                  <tbody *ngFor='let role of modules; index as i'>
                    <tr>
                      <td class="text-left">
                        <h5 style="color:#8d8d44;">{{role.name}}</h5>
                      </td>
                      <td class="text-left" *ngFor="let actn of role.action">
                        <div class="custom-control custom-checkbox">
                          <input  type="checkbox" class=" custom-control-input" (click)="allocationDeallocationModuleAccess(role._id, actn.actionId, $event.target.checked, 'parentModule', '')"  id="pareentModule{{actn.actionId}}{{i}}">
                          <label class="pointerView custom-control-label" for="pareentModule{{actn.actionId}}{{i}}"></label>                      
                        </div>
                      </td>
                    </tr>
                    <ng-container  *ngFor="let sub of role.subModule">
                      <tr>
                        <td class="text-left" style="color:#ca7334;">> {{sub.name}}</td>
                        <td class="text-left" *ngFor="let actn of sub.action;">
                            <div class="custom-control custom-checkbox">
                                <input  type="checkbox" class=" custom-control-input" (click)="allocationDeallocationModuleAccess(role._id, actn.actionId, $event.target.checked, 'subModule', sub._id)"  id="subModule{{sub._id}}{{actn.actionId}}{{i}}">
                                <label class="pointerView custom-control-label" for="subModule{{sub._id}}{{actn.actionId}}{{i}}"></label>                      
                            </div>  
                        </td>
                      </tr>
                      <ng-container *ngFor="let subChild of sub.subModule">
                          <tr>
                            <td class="text-left" style="color:#19229b;"> &nbsp;&nbsp;&nbsp; > {{subChild.name}}</td>
                            <td class="text-left" *ngFor="let actn of subChild.action;">
                                <div class="custom-control custom-checkbox">
                                    <input  type="checkbox" class=" custom-control-input" (click)="allocationDeallocationModuleAccess(role._id, actn.actionId, $event.target.checked, 'subModuleChildren', subChild._id)"  id="subModuleChildren{{subChild._id}}{{actn.actionId}}{{i}}">
                                    <label class="pointerView custom-control-label" for="subModuleChildren{{subChild._id}}{{actn.actionId}}{{i}}"></label>                      
                                </div>  
                            </td>
                          </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
              </table>
        </div>
        <button [hidden]= "viewModuleSatus" (click)="saveRoleModule()" class="btn btn-primary btn-sm" style="font-size: 15px;" [disabled]="status"> SUBMIT </button>
        <div [hidden]= "!viewModuleSatus" style="margin-left: 40%;"> No module allocated to this role !</div>
      </div>
    </div>
  </div>
</div>