<div class="container-fluid pt-3">
<div class="row">
    <div class="col-sm-12">
        <div  id = "ptc-header" class="col-sm-12">
            <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
            {{cropDemonstrationData ? 'Update' : 'Create'}} Demonstration Of Crops Specific Pop
        </div>
    </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col">
            <form [formGroup]="cropDemonstrationForm" (ngSubmit)="onSubmit(cropDemonstrationForm.value)">
                <div class="row">
                    <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label">Activity Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="activityId" class="form-control" [ngClass]="{'form-control-danger': cropDemonstrationForm.controls['activityId'].touched && cropDemonstrationForm.controls['activityId'].errors}">
                                    <option value="{{activityId}}">Demonstration Of Crops Specific Pop</option>
                                </select>
                                <span *ngIf="cropDemonstrationForm.controls['activityId'].invalid && (cropDemonstrationForm.controls['activityId'].dirty || cropDemonstrationForm.controls['activityId'].touched)">
                                        <p *ngIf="cropDemonstrationForm.controls['activityId'].errors.required" class="text-danger text-right">
                                            Activity Name is required.
                                        </p>
                                    </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': cropDemonstrationForm.controls['villageId'].touched && cropDemonstrationForm.controls['villageId'].errors}" (change)="getBeneficiary()">
                                    <option value="">Select Village</option>
                                    <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                </select>
                                <span *ngIf="cropDemonstrationForm.controls['villageId'].invalid && (cropDemonstrationForm.controls['villageId'].dirty || cropDemonstrationForm.controls['villageId'].touched)">
                                        <p *ngIf="cropDemonstrationForm.controls['villageId'].errors.required" class="text-danger text-right">
                                            Village Name is required.
                                        </p>
                                    </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Crop Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="cropId" class="form-control" [ngClass]="{'form-control-danger': cropDemonstrationForm.controls['cropId'].touched && cropDemonstrationForm.controls['cropId'].errors}" (change)="getVarietyByCrop(cropDemonstrationForm.controls['cropId'].value)">
                                    <option value="">Select Crop</option>
                                    <option *ngFor="let crop of crops.data"  [value]="crop._id">{{crop.name}}</option>
                                </select>
                                <span *ngIf="cropDemonstrationForm.controls['cropId'].invalid && (cropDemonstrationForm.controls['cropId'].dirty || cropDemonstrationForm.controls['cropId'].touched)">
                                    <p *ngIf="cropDemonstrationForm.controls['cropId'].errors.required" class="text-danger text-right">
                                        Crop Name is required.
                                    </p>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Area <small>(in Acre)</small></label>
                                <input type="text"  formControlName="area" class="form-control" [ngClass]="{'form-control-danger': cropDemonstrationForm.controls['area'].touched && cropDemonstrationForm.controls['area'].errors}" (keypress)="checkInt($event)" appBlockCopyPaste/>
                                <span *ngIf="cropDemonstrationForm.controls['area'].invalid && (cropDemonstrationForm.controls['area'].dirty || cropDemonstrationForm.controls['area'].touched)">
                                    <p *ngIf="cropDemonstrationForm.controls['area'].errors.required" class="text-danger text-right">
                                        Area is required.
                                    </p>
                                </span>
                            </div>
                                
                            <div class="form-group">
                                <label class="form-control-label">Demo Plot yield <small>(in Kg/Acre)</small></label>
                                <input type="text"  formControlName="demoPlotYield" class="form-control" [ngClass]="{'form-control-danger': cropDemonstrationForm.controls['demoPlotYield'].touched && cropDemonstrationForm.controls['demoPlotYield'].errors}" (keyup)="onChanges()" (keypress)="check($event)" appBlockCopyPaste/>
                                <span *ngIf="cropDemonstrationForm.controls['demoPlotYield'].invalid && (cropDemonstrationForm.controls['demoPlotYield'].dirty || cropDemonstrationForm.controls['demoPlotYield'].touched)">
                                    <p *ngIf="cropDemonstrationForm.controls['demoPlotYield'].errors.required" class="text-danger text-right">
                                        Demo Plot yield is required.
                                    </p>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Percentage Increase in yield</label>
                                <input type="text"  formControlName="percentageIncreaseInYield" class="form-control" (keypress)="check($event)" readonly/>
                            </div> 
                    </div>
                    <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label">Activity Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <input type="date" class="unstyled" id="activity-date"  formControlName="activityDate" class="form-control" [ngClass]="{'form-control-danger': cropDemonstrationForm.controls['activityDate'].touched && cropDemonstrationForm.controls['activityDate'].errors}" (keydown)="$event.preventDefault()"/>
                                <span *ngIf="cropDemonstrationForm.controls['activityDate'].invalid && (cropDemonstrationForm.controls['activityDate'].dirty || cropDemonstrationForm.controls['activityDate'].touched)">
                                    <p *ngIf="cropDemonstrationForm.controls['activityDate'].errors.required" class="text-danger text-right">
                                        Date is required.
                                    </p>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <label class="form-control-label">Beneficiary Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i> &nbsp;<small>(If Beneficiary is not for this village <a style="color: blue" class="pointerView redirectLink" (click)="redirectToBeneficiary(this.cropDemonstrationForm.controls['villageId'].value)"> Click Here </a> to add Beneficiary)</small></label>
                                <!-- <select formControlName="beneficiaryId" class="form-control" [ngClass]="{'form-control-danger': ((cropDemonstrationForm.controls['beneficiaryId'].touched && cropDemonstrationForm.controls['beneficiaryId'].errors) || cropDemonstrationForm.controls['beneficiaryId'].value == '') && cropDemonstrationForm.controls['villageId'].touched }">
                                    <option value="">Select Beneficiary</option>
                                    <option *ngFor="let beneficiary of beneficiaries.data"  [value]="beneficiary._id">{{beneficiary.code}} - {{beneficiary.name}} - {{beneficiary.fatherName}}</option>
                                </select> -->
                                <angular2-multiselect 
                                        *ngIf="flag"
                                        [data]="dropdownList" 
                                        [settings]="dropdownSettings" 
                                        formControlName="beneficiaryId">
                                </angular2-multiselect>
                                <span *ngIf="cropDemonstrationForm.controls['beneficiaryId'].invalid && cropDemonstrationForm.controls['villageId'].touched ">
                                    <p *ngIf="cropDemonstrationForm.controls['beneficiaryId'].errors?.required " class="text-danger text-right">
                                        Beneficiary Name is required.
                                    </p>
                                </span>
                            </div> 
    
                            <div class="form-group">
                                <label class="form-control-label">Variety Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                <select formControlName="varietyId" class="form-control" [ngClass]="{'form-control-danger': cropDemonstrationForm.controls['varietyId'].touched && cropDemonstrationForm.controls['varietyId'].errors}">
                                    <option value="">Select Variety</option>
                                    <option *ngFor="let variety of varities.data"  [value]="variety._id">{{variety.name}}</option>
                                </select>
                                <span *ngIf="cropDemonstrationForm.controls['varietyId'].invalid && (cropDemonstrationForm.controls['varietyId'].dirty || cropDemonstrationForm.controls['varietyId'].touched)">
                                    <p *ngIf="cropDemonstrationForm.controls['varietyId'].errors.required" class="text-danger text-right">
                                        Variety Name is required.
                                    </p>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                    <label class="form-control-label">Damaged Un-damaged Crop</label>
                                    <select formControlName="demagedPlot" class="form-control" [ngClass]="{'form-control-danger': cropDemonstrationForm.controls['demagedPlot'].touched && cropDemonstrationForm.controls['demagedPlot'].errors}">
                                    <option value="">Select Type</option>
                                    <option value="damaged">Damaged</option>
                                    <option value="undamaged">Un-Damaged</option>
                                    <option value="not-considered">Not Considered</option>
                                    </select>
                                    <span *ngIf="cropDemonstrationForm.controls['demagedPlot'].invalid && (cropDemonstrationForm.controls['demagedPlot'].dirty || cropDemonstrationForm.controls['demagedPlot'].touched)">
                                        <p *ngIf="cropDemonstrationForm.controls['demagedPlot'].errors.required" class="text-danger text-right">
                                            Damaged Un-damaged Crop is required.
                                        </p>
                                    </span>
                                </div>
    
                            <div class="form-group">
                                    <label class="form-control-label">Control Plot yield <small>(in Kg/Acre)</small></label>
                                    <input type="text"  formControlName="controlPlotyield" class="form-control" [ngClass]="{'form-control-danger': cropDemonstrationForm.controls['controlPlotyield'].touched && cropDemonstrationForm.controls['controlPlotyield'].errors}" (keyup)="onChanges()" (keypress)="check($event)" appBlockCopyPaste/>
                                    <span *ngIf="cropDemonstrationForm.controls['controlPlotyield'].invalid && (cropDemonstrationForm.controls['controlPlotyield'].dirty || cropDemonstrationForm.controls['controlPlotyield'].touched)">
                                        <p *ngIf="cropDemonstrationForm.controls['controlPlotyield'].errors.required" class="text-danger text-right">
                                            Control Plot yield is required.
                                        </p>
                                    </span> 
                                </div>
                                
                                
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" [disabled]="!cropDemonstrationForm.valid"> Submit</button>
                    <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
</div>