<div class="container-fluid pt-3">
    <div class="row">
    <div class="col-sm-12">
        <div  id = "ptc-header" class="col-sm-12">
            <a title="Go Back" (click)="goBack()" id="goBack" class="btn btn-secondary btn-mini pointerView"> <i class="icofont icofont-arrow-left"></i></a>
            {{beneficiaryData ? 'Update' : 'Create'}} Beneficiary
        </div>
    </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="beneficiaryForm" (ngSubmit)="onSubmit(beneficiaryForm.value)" (keydown.enter)="$event.preventDefault()">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-label">Beneficiary Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm.controls['name'].touched && beneficiaryForm.controls['name'].errors}" />
                                    <span *ngIf="beneficiaryForm.controls['name'].invalid && (beneficiaryForm.controls['name'].dirty || beneficiaryForm.controls['name'].touched)">
                                        <p *ngIf="beneficiaryForm.controls['name'].errors.required" class="text-danger text-right">
                                            Beneficiary Name is required.
                                        </p>
                                        <p *ngIf="beneficiaryForm.controls['name'].errors.whitespace" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Father/Husband Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="fatherName" class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm.controls['fatherName'].touched && beneficiaryForm.controls['fatherName'].errors}" />
                                    <span *ngIf="beneficiaryForm.controls['fatherName'].invalid && (beneficiaryForm.controls['fatherName'].dirty || beneficiaryForm.controls['fatherName'].touched)">
                                        <p *ngIf="beneficiaryForm.controls['fatherName'].errors.required" class="text-danger text-right">
                                            Beneficiary Name is required.
                                        </p>
                                        <p *ngIf="beneficiaryForm.controls['fatherName'].errors.whitespace" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Village Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="villageId" class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm.controls['villageId'].touched && beneficiaryForm.controls['villageId'].errors}">
                                        <option value="">Select Village</option>
                                        <option *ngFor="let village of villages.data"  [value]="village._id">{{village.name}}</option>
                                    </select>
                                    <span *ngIf="beneficiaryForm.controls['villageId'].invalid && (beneficiaryForm.controls['villageId'].dirty || beneficiaryForm.controls['villageId'].touched)">
                                        <p *ngIf="beneficiaryForm.controls['villageId'].errors.required" class="text-danger text-right">
                                            Village Name is required.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Mobile Number</label>
                                    <input type="text"  formControlName="mobile"  class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm.controls['mobile'].touched && beneficiaryForm.controls['mobile'].errors}" (keypress)="check($event)" appBlockCopyPaste />
                                    <span *ngIf="beneficiaryForm.controls['mobile'].invalid && (beneficiaryForm.controls['mobile'].dirty || beneficiaryForm.controls['mobile'].touched)">
                                            <p *ngIf="beneficiaryForm.controls['mobile'].errors.required" class="text-danger text-right">
                                                Mobile Number is required.
                                            </p>
                                            <p *ngIf="beneficiaryForm.controls['mobile'].errors.invalidNumber && !beneficiaryForm.controls['mobile'].errors.required" class="text-danger text-right">
                                            Mobile Number is not valid.
                                            </p>
                                        </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Gender <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="gender" class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm.controls['gender'].touched && beneficiaryForm.controls['gender'].errors}">
                                        <option value="">Select Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female </option>
                                    </select>
                                    <span *ngIf="beneficiaryForm.controls['gender'].invalid && (beneficiaryForm.controls['gender'].dirty || beneficiaryForm.controls['gender'].touched)">
                                            <p *ngIf="beneficiaryForm.controls['gender'].errors.required" class="text-danger text-right">
                                                Gender is required.
                                            </p>
                                        </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Date of Birth</label>
                                    <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="dob-date"  formControlName="dob" class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm.controls['dob'].touched && beneficiaryForm.controls['dob'].errors}" (keydown)="$event.preventDefault()"/>
                                    <span *ngIf="beneficiaryForm.controls['dob'].invalid && (beneficiaryForm.controls['dob'].dirty || beneficiaryForm.controls['dob'].touched)">
                                            <p *ngIf="beneficiaryForm.controls['dob'].errors.required" class="text-danger text-right">
                                                DOB is required.
                                            </p>
                                        </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Social Category <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="socialCategory" class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm.controls['socialCategory'].touched && beneficiaryForm.controls['socialCategory'].errors}">
                                        <option value="">Select Social Category</option>
                                        <option value="general">General</option>
                                        <option value="obc">OBC</option>
                                        <option value="sc/st">SC/ST</option>
                                        <option value="others">Others</option>
                                    </select>
                                    <span *ngIf="beneficiaryForm.controls['socialCategory'].invalid && (beneficiaryForm.controls['socialCategory'].dirty || beneficiaryForm.controls['socialCategory'].touched)">
                                            <p *ngIf="beneficiaryForm.controls['socialCategory'].errors.required" class="text-danger text-right">
                                                Social Category is required.
                                            </p>
                                        </span>
                                </div>
                                
                                <div class="form-group">
                                        <label class="form-control-label">Individual Below Poverty Line</label>
                                        <select formControlName="bplFamily" class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm.controls['bplFamily'].touched && beneficiaryForm.controls['bplFamily'].errors}">
                                            <option value="">Select Option</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                        <span *ngIf="beneficiaryForm.controls['bplFamily'].invalid && (beneficiaryForm.controls['bplFamily'].dirty || beneficiaryForm.controls['bplFamily'].touched)">
                                            <p *ngIf="beneficiaryForm.controls['bplFamily'].errors.required" class="text-danger text-right">
                                                    BPL Family Category is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                <div class="form-group">
                                    <label class="form-control-label">Photo</label>
                                    <input name="file" type="file" (change)="onFileChange($event)">
                                    <input type="hidden" name="fileHidden" formControlName="photo"/> <!-- Validation Field -->
                                    <span *ngIf="beneficiaryForm.controls['photo'].invalid && (beneficiaryForm.controls['photo'].dirty || beneficiaryForm.controls['photo'].touched)">
                                        <p *ngIf="beneficiaryForm.controls['photo'].errors.required" class="text-danger text-right">
                                            Photo is required.
                                        </p>
                                    </span>
                                </div>
                                <!-- <img src="https://staging-dhwani.s3.ap-south-1.amazonaws.com/39349582-9152-4974-8ebc-24d4b1d47a05.png" alt=""> -->
                                
                                <!-- google search box -->
                                <div class="form-group">
                                    <label class="form-control-label">Search Location</label>
                                    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" [formControl]="searchControl" #search>
                                </div>
                                <!-- google map  -->
                                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
                                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                                </agm-map>
                                
                                <div formGroupName="location">
                                    <div class="form-group">
                                        <label class="form-control-label">Latitude</label>
                                        <input type="text"  formControlName="lat" class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm['controls'].location['controls'].lat.touched && beneficiaryForm['controls'].location['controls'].lat.errors}" readonly/>
                                        <span *ngIf="beneficiaryForm['controls'].location['controls'].lat.invalid && (beneficiaryForm['controls'].location['controls'].lat.dirty || beneficiaryForm['controls'].location['controls'].lat.touched)">
                                            <p *ngIf="beneficiaryForm['controls'].location['controls'].lat.errors.required" class="text-danger text-right">
                                                Latitude is required.
                                            </p>
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-control-label">Longitude</label>
                                        <input type="text"  formControlName="lng" class="form-control" [ngClass]="{'form-control-danger': beneficiaryForm['controls'].location['controls'].lng.touched && beneficiaryForm['controls'].location['controls'].lng.errors}" readonly/>
                                        <span *ngIf="beneficiaryForm['controls'].location['controls'].lng.invalid && (beneficiaryForm['controls'].location['controls'].lng.dirty || beneficiaryForm['controls'].location['controls'].lng.touched)">
                                                <p *ngIf="beneficiaryForm['controls'].location['controls'].lng.errors.required" class="text-danger text-right">
                                                    Longitude is required.
                                                </p>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-sm" type="submit" [disabled]="!beneficiaryForm.valid">Submit</button>
                            <button class="btn btn-danger ml-2 btn-sm" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>