@import "../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/print";
@import url('//fonts.googleapis.com/css?family=Lato:400,700');

#ptc-header{
    font-size: 35px;
}

.form-group{
    height: 63px !important;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #43B786;
    border-color: #43B786;
    cursor: not-allowed;
}

agm-map {
    height: 300px !important;
    width: 100%;  /* This is really important*/
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

button.dt-button, div.dt-button, a.dt-button, button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled), button.dt-button:active:not(.disabled), button.dt-button.active:not(.disabled), div.dt-button:active:not(.disabled), div.dt-button.active:not(.disabled), a.dt-button:active:not(.disabled), a.dt-button.active:not(.disabled) {
    background-color: #ffffff;
    border-color: black;
    border-radius: 2px;
    color: #211d1d;
    background-image: none;
    font-size: 14px;
}



/* Custom vertical navbar styling .. */

.cus-nav.cus-nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}
.cus-nav-tabs .cus-nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #efede882
}

.cus-nav-tabs .cus-nav-link.active {
    color: #495057;
    background-color: #f9f9f912 !important;
    border-color: #c5bcbce0 !important;
    border-right: none;
}
.cus-nav-tabs .cus-nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
    padding: 0.5rem;
}
.cus-tab-content>.active {
    display: block;
    background: #f9f9f912;
    min-height: 345px;
}
.cus-nav.cus-nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}

/* End ... Custom vertical navbar styling .. */

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;

    & a::after {
        position: absolute;
        right: 6px;
        top: .8em;
    }
    
    & > .dropdown-menu {
        top:0;
        left:100%;
        margin-top:-10px;
    }
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 

.nav-item.active{
    background: #333;
}
.p-40{
    margin-top: 40px;
}
.table th, .table td {
    vertical-align: middle;
}
.cursor-hand{
    cursor: pointer;
}

.dt-buttons{
    display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: $primary;
    color: $white !important;
    border:none;
}
table.dataTable thead.thead-dark{

    & .sorting{
        background-image: url(assets/images/sort_both.png);
    } 

    & .sorting_asc{
        background-image: url(assets/images/sort_asc.png);
    }

    & .sorting_desc{
        background-image: url(assets/images/sort_desc.png);
    } 
}

.pointerView {
    cursor: pointer;
}
.mendetory{
    color: red;
    font-size: 6px;
}

.redirectLink{
    color: blue;

    & .form-control.form-control-sm{
        border:none !important;
    }
}
// .form-group{
//     height: auto !important;
// }

//Loder Styles /.....

.small-lds-ellipsis {
    display: inline-block;
    position: relative;
    /* width: 64px; */
    height: 1px;
    padding-bottom: 20%;
    margin: auto;
    width: 10%;

    /* padding: 10px; */
}

.small-lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.small-lds-ellipsis div:nth-child(1) {
    left: 6px;
    background: #bdbdbd;
    animation: small-lds-ellipsis1 0.6s infinite;
}

.small-lds-ellipsis div:nth-child(2) {
    left: 6px;
    background: #bdbdbd;
    animation: small-lds-ellipsis2 0.6s infinite;
}

.small-lds-ellipsis div:nth-child(3) {
    left: 26px;
    background: #bdbdbd;
    animation: small-lds-ellipsis2 0.6s infinite;
}

.small-lds-ellipsis div:nth-child(4) {
    left: 45px;
    background: #bdbdbd;
    animation: small-lds-ellipsis3 0.6s infinite;
}

@keyframes small-lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes small-lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes small-lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    /* width: 64px; */
    height: 64px;

    margin: auto;
    width: 10%;

    /* padding: 10px; */
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    background: #f16856;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    background: #f16856;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    background: #43B786;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    background: #43B786;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}


// Card Pre loader    
  .card-loader {
    // background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 -1px 3px 0 rgba(0,0,0,0.06);
    padding: 8px;
    position: relative;
    border-radius: 2px;
    margin-bottom: 0;
    // height: 200px;
    overflow: hidden;
  
    &:only-child {
      margin-top:0;
    }
  
    &:before {
      content: '';
      height: 110px;
    //   display: block;
      background-color: #ededed;
      box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
    }
  
    &:after {
      content: '';
      background-color: #333;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-name: loader-animate;
      animation-timing-function: linear;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    }
  }
   

  .card-loader-2 {
    // background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 -1px 3px 0 rgba(0,0,0,0.06);
    padding: 8px;
    position: relative;
    border-radius: 2px;
    margin-bottom: 0;
    // height: 200px;
    overflow: hidden;
  
    &:only-child {
      margin-top:0;
    }
  
    &:before {
      content: '';
      height: 110px;
      display: block;
      background-color: #ededed;
      box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
    }
  
    &:after {
      content: '';
      background-color: #333;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-name: loader-animate;
      animation-timing-function: linear;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    }
  }
  
  // Loader animation
  @keyframes loader-animate{
   0%{
      transform: translate3d(-100%, 0, 0);
    }
   100%{
      transform: translate3d(100%, 0, 0);
    }
  }

  ::-webkit-scrollbar {
    display: none;
}

.dropdown-list ::-webkit-scrollbar{
    display: -webkit-box !important;
}

body > app-root > div > app-admin > section > app-soil-form > div > div.card > div > div > div > form > div.row > div:nth-child(4) > div:nth-child(1) > angular2-multiselect > div > div.selected-list > div{
    margin-left: -4.2%;
    margin-top: -2.1%;
    height: 34px;
    width: 108.5%;
    background: #f8f9fa;
}

body > app-root > div > app-admin > section > app-composit-form > div > div.card > div > div > div > form > div.row > div:nth-child(2) > div:nth-child(2) > angular2-multiselect > div > div.selected-list > div{
    margin-left: -2%;
    margin-top: -1%;
    width: 104%;
    background: #f8f9fa;
}

body > app-root > div > app-admin > section > app-capacity-form > div > div.card > div > div > div > form > div.row > div:nth-child(2) > div:nth-child(2) > angular2-multiselect > div > div.selected-list > div{
    margin-left: -2%;
    margin-top: -1%;
    width: 104%;
    background: #f8f9fa;
}

body > app-root > div > app-admin > section > app-crop-form > div > div.card > div > div > div > form > div.row > div:nth-child(2) > div:nth-child(2) > angular2-multiselect > div > div.selected-list > div{
    margin-left: -2%;
    margin-top: -1%;
    width: 104%;
    background: #f8f9fa;
}

body > app-root > div > app-admin > section > app-horticulture-form > div > div.card > div > div > div > form > div.row > div:nth-child(2) > div:nth-child(2) > angular2-multiselect > div > div.selected-list > div{
    margin-left: -2%;
    margin-top: -1%;
    width: 104%;
    background: #f8f9fa;
}

body > app-root > div > app-admin > section > app-farm-bunding-form > div > div.card > div > div > div > form > div.row > div:nth-child(2) > div:nth-child(2) > angular2-multiselect > div > div.selected-list > div{
    margin-left: -2%;
    margin-top: -1%;
    width: 104%;
    background: #f8f9fa;
}

body > app-root > div > app-admin > section > app-solar-form > div > div.card > div > div > div > form > div.row > div:nth-child(2) > div:nth-child(3) > angular2-multiselect > div > div.selected-list > div{
    margin-left: -2%;
    margin-top: -1%;
    width: 104%;
    background: #f8f9fa;
}

body > app-root > div > app-admin > section > app-farm-pond-form > div > div.card > div > div > div > form > div.row > div:nth-child(2) > div:nth-child(2) > angular2-multiselect > div > div.selected-list > div{
    margin-left: -2%;
    margin-top: -1%;
    width: 104%;
    background: #f8f9fa;
}

.pure-checkbox input[type="checkbox"]+label:before{
    display: none;
}

.pure-checkbox input[type="checkbox"]+label:after{
    display: none;
}

.nav-style{
    background: #FFFFFF;
    color: #2E2E2E;
}


.ngx-pagination li{
    background: white !important;
    border-radius: 5px !important;
    border: 1px solid #00A1E5;
    margin-left: 10px !important;
}

.ngx-pagination .current{
    background: #00A1E5 !important;
}

.tooltip-custom {
    background: #000000bd;
    color:white;
}