<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12">
            <div  id = "ptc-header" class="col-sm-12">
                <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
                {{cropData ? 'Update' : 'Create'}} Crop
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="cropForm" (ngSubmit)="onSubmit(cropForm.value)">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-label">Crop Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{'form-control-danger': cropForm.controls['name'].touched && cropForm.controls['name'].errors}" />
                                    <span *ngIf="cropForm.controls['name'].invalid && (cropForm.controls['name'].dirty || cropForm.controls['name'].touched)">
                                        <p *ngIf="cropForm.controls['name'].errors.required" class="text-danger text-right">
                                            Crop Name is required.
                                        </p>
                                        <p *ngIf="cropForm.controls['name'].errors.whitespace && !cropForm.controls['name'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Traditional Recovery Percentage </label>
                                    <input type="text"  formControlName="tr_recovery" class="form-control" [ngClass]="{'form-control-danger': cropForm.controls['tr_recovery'].touched && cropForm.controls['tr_recovery'].errors}" (keypress)="check($event)" appBlockCopyPaste/>
                                    <span *ngIf="cropForm.controls['tr_recovery'].invalid && (cropForm.controls['tr_recovery'].dirty || cropForm.controls['tr_recovery'].touched)">
                                        <p *ngIf="cropForm.controls['tr_recovery'].errors.required" class="text-danger text-right">
                                            Traditional Recovery Percentage is required.
                                        </p>
                                    </span>
                                </div>
                            
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!cropForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>