
<div class="container-fluid pt-3">
<div class="row">
    <div class="col-sm-12">
        <div  id = "ptc-header" class="col-sm-12">
            <a title="Go Back" [routerLink]="['../../../index']" id="goBack" class="btn btn-secondary btn-mini"> <i class="icofont icofont-arrow-left"></i></a>
            {{trainingData ? 'Update' : 'Create'}} Training And Exposure Visits
        </div>
    </div>
</div>

<div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form [formGroup]="exposureForm" (ngSubmit)="onSubmit(exposureForm.value)">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group" [hidden]="true">
                                    <label class="form-control-label">Activity Name</label>
                                    <select formControlName="activityId" class="form-control">
                                        <option value="{{activityId}}">Training And Exposure Visit</option>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-control-label">Topic Date <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="date" (keydown)="($event.keyCode == 40)? $event.preventDefault() : true" class="unstyled" id="topic-date"  formControlName="topicDate" class="form-control" [ngClass]="{'form-control-danger': exposureForm.controls['topicDate'].touched && exposureForm.controls['topicDate'].errors}" />
                                    <span *ngIf="exposureForm.controls['topicDate'].invalid && (exposureForm.controls['topicDate'].dirty || exposureForm.controls['topicDate'].touched)">
                                        <p *ngIf="exposureForm.controls['topicDate'].errors.required" class="text-danger text-right">
                                            Topic Date is required.
                                        </p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">Topic Name <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <select formControlName="cbTopicId" class="form-control" [ngClass]="{'form-control-danger': exposureForm.controls['cbTopicId'].touched && exposureForm.controls['cbTopicId'].errors}">
                                        <option value="">Select Topic</option>
                                        <option *ngFor="let topic of topics.data"  [value]="topic._id">{{topic.name}}</option>
                                    </select>
                                    <span *ngIf="exposureForm.controls['cbTopicId'].invalid && (exposureForm.controls['cbTopicId'].dirty || exposureForm.controls['cbTopicId'].touched)">
                                        <p *ngIf="exposureForm.controls['cbTopicId'].errors.required" class="text-danger text-right">
                                            Topic Name is required.
                                        </p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">Location <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="location" class="form-control" [ngClass]="{'form-control-danger': exposureForm.controls['location'].touched && exposureForm.controls['location'].errors}">
                                    <span *ngIf="exposureForm.controls['location'].invalid && (exposureForm.controls['location'].dirty || exposureForm.controls['location'].touched)">
                                        <p *ngIf="exposureForm.controls['location'].errors.required" class="text-danger text-right">
                                            Location is required.
                                        </p>
                                        <p *ngIf="exposureForm.controls['location'].errors.whitespace && !exposureForm.controls['location'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">Total Farmers Count <i title="This is mandatory field !" class="fas fa-asterisk mendetory"></i></label>
                                    <input type="text" formControlName="totalFarmers" class="form-control" [ngClass]="{'form-control-danger': exposureForm.controls['totalFarmers'].touched && exposureForm.controls['totalFarmers'].errors}" (keydown)="($event.keyCode == 109 || $event.keyCode == 110 || $event.keyCode == 190 || $event.keyCode == 69 || $event.keyCode == 107 ||  ($event.target.value.length > 9 && $event.keyCode !=8 && $event.keyCode != 46) || ($event.target.value.length > 9 && $event.keyCode !=8 && $event.keyCode != 46))? $event.preventDefault() : true">
                                    <span *ngIf="exposureForm.controls['totalFarmers'].invalid && (exposureForm.controls['totalFarmers'].dirty || exposureForm.controls['totalFarmers'].touched)">
                                        <p *ngIf="exposureForm.controls['totalFarmers'].errors.required" class="text-danger text-right">
                                            Total Farmers Count is required.
                                        </p>
                                        <p *ngIf="exposureForm.controls['totalFarmers'].errors.whitespace && !exposureForm.controls['totalFarmers'].errors.required" class="text-danger text-right">
                                            Blank spaces not allowed.
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!exposureForm.valid"> Submit</button>
                            <button class="btn btn-outline-secondary ml-3" type="button" (click)="revert()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  </div>
</div>